/* ==UserStyle==
@name           Webcampus Dark Theme
@namespace      github.com/martin-danhier
@version        0.2.1
@description    Dark theme for webcampus
@author         Martin Danhier
==/UserStyle== */
@-moz-document domain("webcampus.unamur.be"), domain("auth.unamur.be") {

    /* Main colors */
    #region-main {
        background-color: #171717;


        border-color: #4f4f4f;
    }
    h2 {
        color: #fff;
    }
    #page-my-index {
        background-color: #171717 !important;
    }
    .list-group-item {
        background-color: #212020;
        border-color: #6c6c6f;
        color: #737373;
    }
    .bg-dark {
        background-color: #151414 !important;
    }
    a {
        color: #1cc9ca;
    }
    body {
        background-color: #171717;
        color: #fbfbfb;
    }
    .card {
        background-color: #171717;
        border-color: #4f4f4f;
    }



    /* text field */
    .form-control,
    .form-control:focus {
        background-color: #333131;
        color: #fff
    }

    /* top banner */
    .brand-banner {
        background: linear-gradient(to bottom, #313030 0%, #2f2e2e 20%, #2b2a2a 40%, #252525 60%, #222 80%, #212221 100%);
    }

    /* title color in "chronology" */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .path-calendar .maincalendar .calendar-controls .current,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: #9faab5;
    }

    /* calendar */
    .calendar_event_course a {
        color: #00fff7;
    }
    .calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar.calendartable td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even),
    .block-region .block .minicalendar.calendartable td:nth-child(even) {
        background-color: #0e0d0d;
    }

    .block-region .block .minicalendar td,
    .block-region .block .minicalendar.calendartable td {
        border: 1px solid #3b3f43;
    }

    /* back to top arrow */
    #back-to-top a.arrow {
        color: #ccc;
        background: #171717;
    }

    /* block */
    .block-region .block {
        border-color: #242624;
    }
    .block-region .block .card-body .card-title {
        color: #67f917;
    }
    .block-region .block .card-body .card-title:before {
        color: #a6a5a5;
    }
    .block-region .block .card-body {
        background-color: #201f1f;
        box-shadow: 1px 2px 3px 0 #2b2929;
    }

    /* notifications */
    .popover-region-container,
    .popover-region-footer-container {
        background-color: #222;
    }
    .content-item-container .content-item-footer .timestamp,
    .content-item-container .content-item-footer .timestamp:hover {
        color: #e3d7d7;
    }
    .content-item-container.unread {
        background-color: #4e4e4f;
    }
    .content-item-container.unread:hover {
        background-color: #4e4e4f;
    }
    .popover-region .notification-message {
        color: #1edcdd;
    }
    .popover-region .notification-message:hover {
        color: #52ae52;
    }
    .content-item-container.unread a {
        color: #22c4c6;
    }

    /* icons */
    #blocks-column-toggle:before,
    .fa-plus:before {
        color: #dbd9d9
    }
    *:before {
        color: #8e8d8d
    }



    /* Button on dashboard */
    .btn:hover,
    .btn:focus {
        background-color: #484848;
    }
    .show > .btn-outline-secondary.dropdown-toggle {
        background-color: #424040;
        color: #cac7c7;
        ;
    }

    /* dropdown menus */
    .dropdown-menu .dropdown-item:focus {
        background-color: #313130;
        color: #bfbfbf;
    }
    .dropdown-menu .dropdown-item {
        color: #bfbfbf;
    }
    .dropdown-menu .dropdown-item.active {
        background-color: #1e4042;
        color: #e3e2e2;
    }
    .dropdown-menu .dropdown-item:hover {
        background-color: #333;
        color: #fff;
    }
    .dropdown-menu {
        background-color: #222121;
        border-color: #606060;
    }

    /* Fix weird white flash when the page is loading */
    .bg-pulse-grey {
        animation: unset;
        background-color: #201f1f;
    }

    /* ================= */
    /* courses overview */
    /* course list */
    .text-muted,
    .resourcelinkdetails {
        color: #b3b3af !important;
    }
    .block-region .block.block_myoverview [data-region="course-content"] a.coursename {
        color: #00fff7;
    }
    .courses .coursebox.even {
        background-color: #1c1b1b;
    }

    /* ================= */
    /* home */
    /* popover when mouse hover calendar */
    .bs-popover-top .arrow::after {
        border-top-color: #333;
    }
    .popover,
    .popover-header,
    .popover-body {
        background-color: #333;
        color: #fff;
    }

    /* ================== */
    /* /user/profile.php */
    /* user profile frames */
    #page-enrol-users #filterform,
    .que .history,
    .userprofile .profile_tree section,
    .groupinfobox,
    .well,
    .path-calendar .maincalendar .calendar-event-panel {
        background-color: #1e1e1e;
        border-color: #444343;
    }

    /* ================== */
    /* homework submission page */
    /* "remis pour evaluation" color */
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted {
        background-color: #1e6a36;
        color: #e8e5e5;
    }

    /* alternate fields */
    .path-mod-assign td.submissionnotgraded,
    .path-mod-assign div.submissionnotgraded,
    .path-mod-assign td.earlysubmission,
    .path-mod-assign div.earlysubmission {
        background-color: #3f403f;
        color: #e8e5e5;
    }

    /** ==================== */
    
    /* warning */
    .flashbox {
        background: #222
    }
    
    .flashbox.warning {
        border: 2px solid #d84d4d;
    }

    /* ================== */
    /* messaging app */
    /* received message bubble */
    .message-app.drawer .message.received .tail {
        border-bottom-color: #333131;
    }

    /* sent message bubble */
    .message-app.drawer .message.send .tail {

        border-bottom-color: #777776;
    }
    .bg-secondary {
        background-color: #777776 !important;
    }


    /* background color */
    .bg-light {
        background-color: #191919 !important;
    }
    .border-bottom {
        background-color: #222;
        border-bottom: 1px solid #717375!important;
    }
    .message-app .text-center {
        background-color: #1e1c1c;
    }
    .bg-white {
        background-color: #333131 !important;
    }

    /* nav drawer */
    #nav-drawer .list-group a.list-group-item.active {
        background-color: #1e4a51;
        border-color: #1e4a51;
    }
    .navbar-receptic [data-region="drawer-toggle"] .btn-secondary {

        background-color: #444546;
        border-color: #686666;
    }
    .navbar-receptic a.dropdown-item {
        color: #d2d4d7;
    }
    .navbar-receptic a.dropdown-item:hover {
        background-color: #424040;
        color: #fff;
    }
    .navbar-receptic a.dropdown-item:focus {
        background-color: #424040;
        color: #fff;
    }
    .navbar-receptic {
        background: linear-gradient(to bottom, #3d3f42 0%, #2b2c2d 100%);
    }
    #nav-drawer {
        background-color: #171717;
    }
    #nav-drawer .list-group div.list-group-item,
    #nav-drawer .list-group a.list-group-item {

        background-color: #212020;
        border-color: #6c6c6f;
        color: #c5c6c8;
    }
    #nav-drawer .list-group div.list-group-item:hover,
    #nav-drawer .list-group a.list-group-item:hover {

        background-color: #3e3c3c;
    }
    .que .outcome {
        background-color: #232323;
        color: #5fd0c6;
    }


    /* =========== */
    /* evaluations */
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
        background-color:#262525;
        color: #fff;
        border-color:#827f7f;
    }
    .nav-tabs{
        border-bottom: 1px solid #827f7f;
    }
    
    /* =========== */
    /* quiz */
    .modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content{
        background-color: #262525;
    }
    .moodle-dialogue-base .closebutton::after, .user-enroller-panel .uep-header .close:after, .user-enroller-panel .uep-header .moodle-dialogue-base .closebutton:after, .moodle-dialogue-base .user-enroller-panel .uep-header .closebutton:after{
        color: #47a4b9;
    }
    #page-mod-quiz-view table.quizattemptsummary tr.bestrow td{
        background-color: #1f1f1f;
    }
    .moodle-dialogue-base .moodle-dialogue-lightbox{
        background-color:#272727;
    }
    .path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
        border: unset;
    }
    .path-mod-quiz #mod_quiz_navblock span.qnbutton{
        background-color: #2d2d2d;
    }
    .path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight, .path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight{
        background-color: #7b7a7a;
    }
    
    #page-mod-quiz-attempt .que,
    #page-mod-quiz-review .que,
    #page-question-preview .que {
        background-color: rgb(27, 27, 27);
    }
    .que .info {
        background-color: #2a2a2a;
    }
    .custom-select:disabled {
        background-color: #2a2a2a;
        color: #c7c4c4;
        border-color: rgba(106, 106, 106, .19);
    }
    .que .formulation {

        color: #b1b1b1;
    }
    .table th,
    table.collection th,
    table.flexible th,
    .generaltable th,
    .table td,
    table.collection td,
    table.flexible td,
    .generaltable td {
        border-color: #464646;
    }
    table.quizreviewsummary,
    table.quizreviewsummary th.cell,
    table.quizreviewsummary td.cell {
        background-color: #1e1d1d;
    }

    /* =========== */
    
    /* Upload */
    
   
    
    .fp-upload-form, .fp-iconview, .fp-filename-field, 
    .fp-filename .text-truncate, .fp-iconview .fp-filename-field .fp-filename, 
    .fp-content .card, .file-picker .fp-content  {
        background-color: #1e1d1d !important;
    }

    .fp-thumbnail, .fp-reficons1, .fp-reficons2 {
        border: unset !important;
    }
    
    .custom-select {
        width: 100%;
        background-color: #2a2a2a;
        background: #2a2a2a url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23c7c4c4\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E") no-repeat right .75rem center;
        -webkit-background-size: 8px 10px;
        background-size: 8px 10px;
        
        color: #fff;
    }
    
    button.close, .moodle-dialogue-base button.closebutton {
        background-color: #2a2a2a !important;
        opacity: 1;
    }
    
    .close, .moodle-dialogue-base .closebutton {
        text-shadow: unset;
    }
    
/*     .fp-toolbar .btn-secondary, .fp-toolbar .btn-default, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .wikisearch form input, .wikisearch form .fp-toolbar input, .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-toolbar #id_advancedadddiscussion, .fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"], .fp-viewbar .btn-secondary, .fp-viewbar .btn-default, .fp-viewbar .atto_generico_buttons button, .atto_generico_buttons .fp-viewbar button, .fp-viewbar .wikisearch form input, .wikisearch form .fp-viewbar input, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-viewbar #id_advancedadddiscussion, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] {
    background-color: #4e4a4a;
    border: 1px solid #1e1d1d;
    
}
    
    .fptoolbar .btn-secondary ::before,  .fp-toolbar .btn-default ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .wikisearch form input ::before, .wikisearch form .fp-toolbar input ::before,  .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion ::before,#page-mod-forum-view .fp-toolbar #id_advancedadddiscussion::before, fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"] ::before, .fp-viewbar .btn-secondary ::before,.fp-viewbar .btn-default ::before,  .fp-viewbar .atto_generico_buttons button ::before, .fp-viewbar .wikisearch form input ::before, .wikisearch form .fp-viewbar input ::before, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion ::before, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] ::before, i .icon .fa .fa-refresh .fa-fw ::before   {
        color: #f2e4e4 !important ;
    } */
    
    
    /* other things I don't remember */
    .switch input + label::before {
        background-color: #776a6a;
    }

    .overlay-icon-container {
        background-color: #201f1f;
    }
    .list-group-item:hover {
        background-color: #353535;
        color: #737373;
    }
    .fa-user-plus:before {
        color: #fff;
    }
    li.page-item .page-link,
    li.page-item.disabled .page-link {
        background-color: #3c3939;
        border-color: #626262;
    }
        
    /* ========== */
    /* login page */
    form.login{
        background-color: #1f1e1e;
    }
    .input-group-addon{
        background-color: #2d2b2b;
    }
    .glyphicon-log-in:before{
        color: #fff !important;
    }
    .btn-success{
        color: #fff  !important;;
        background-image: unset;
        background-color: #3c7919;
        border-color: transparent;
    }
    div#wrap{
        background-image: unset;
        background-color: #070707;
    }
}
