/* ==UserStyle==
@name           Webcampus Dark Theme
@namespace      github.com/martin-danhier
@version        0.5.13
@description    Dark theme for webcampus
@author         Martin Danhier
==/UserStyle== */
@-moz-document domain("webcampus.unamur.be"),
domain("auth.unamur.be") {


    /* Main colors */
    body {}



    ul.navbar-nav.d-none.d-md-flex::after {
        content: "Webcampus";
        font-size: 18px;
    }

    #blocks-column-toggle {
        top: 0px;
        margin-top: 75px;
    }

    #page,
    #nav-drawer,
    #blocks-column,
    .message-app.drawer {
        top: 0px;
        margin-top: 60px !important;
    }

    #page-header .mr-auto,
    .mx-auto {
        margin: 0 !important;
        margin-right: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #page-header .logo img[alt="WebCampus"] {
        content: url(http://drive.google.com/uc?id=1eIYldsdNtWjG7NG6tRgD150Xe9xdUWPt);
        max-height: 130px;
        vertical-align: middle;
    }
    
    #page-login-index #page-content #region-main img.img-fluid.text-center {
        content: url(http://drive.google.com/uc?id=1eIYldsdNtWjG7NG6tRgD150Xe9xdUWPt);
        max-height:130px;
        vertical-align: middle;
    }

    .path-my #region-main .card-body.pr-1.course-info-container {
        border-radius: 0px;
    }


    #page-wrapper #page-footer {
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #page-footer .fa.fa-phone {
        visibility: hidden;
    }

    #page-footer .contactinfo::before {
        content: "\A===    Webcampus Dark Theme    ===\AStyle par Martin Danhier et Yannis Fraselle \A Version 0.5.13 \A \A";
        white-space: pre;
        text-align: center;
        color: #e7e7e7;
    }

    #page-header {
        visibility: visible;
    }

    #page-header .card {
        background-color: #1b1b1b;
        box-shadow: unset;
        border-radius: 15px;
        border: unset;
    }

    #region-main {
        background-color: #1b1b1b;

        border-radius: 15px;
        border: unset;
    }
    h2 {
        color: #fff;
    }
    #page-my-index {
        background-color: #171717 !important;
    }
    .list-group-item {
        background-color: #262626;
        box-shadow: 0.5px 0.5px #393535;
        border: unset;
        color: #737373;
    }


    #region-main .list-group-item {

        border-radius: 15px;
    }
    .bg-dark {
        background-color: #151414 !important;
    }
    a {
        color: #1cc9ca;
    }
    body {
        background-color: #171717;
        color: #fbfbfb;
    }
    .card {
        background-color: #171717;
        border-color: #4f4f4f;
    }
    #region-main .card-body {

        border-radius: 15px;
    }

    .mediaserver-iframe {
        border-radius: 15px;
        user-select: none;
    }

    .region_main_settings_menu_proxy {
        background-color: inherit;
    }

    /* forum */
    .path-course-view .activityinstance .unread {
        margin-left: 60px;
        background-color: unset;
    }

    .forumpost.unread .row.header,
    .path-course-view .unread,
    span.unread {
        background-color: unset;
    }

    .alert-warning,
    #page-admin-index .adminwarning,
    .uninstalldeleteconfirmexternal,
    .que .outcome,
    .que .comment {
        background-color: #2c2c2c;
        color: #ffcd4d;
        border-radius: 20px;
        margin-top: 15px;
    }

    .alert-warning:before,
    #page-admin-index .adminwarning:before,
    .uninstalldeleteconfirmexternal:before,
    .que .outcome:before,
    .que .comment:before {
        content: "⚠"
    }
    
    .alert-danger, #page-admin-index .adminerror {
        background-color: #2c2c2c;
        color: #ff9191;
        border-radius: 20px;
        margin-top: 15px;
    }
    
    .alert-danger:before, #page-admin-index .adminerror:before {
        content:"⛔"
    }
    
    .alert button.close {
        color: #d2d2d2;
    }

    .path-course-view .activityinstance .unread::before {
        content: "";
        font-size: 18px;
        font-family: "FontAwesome";
        color: #aca9a9;
        padding-right: 5px;
    }

    .path-course-view .activityinstance .unread a {
        color: #e9e9e9;
    }

    .forum-post-container:focus > .focus-target,
    .custom-select {
        border-radius: 10px;
        border-width: 1px;
        border-color: #616161;
    }

    .forum-post-container:focus > .focus-target {
        outline: unset;
        box-shadow: 0px 0px 0px 2px #598192;
        border-radius: 15px;
        border-color: transparent !important;
    }

    .forumpost {
        border: 1px solid #373737 !important;
        border-radius: 15px;
    }

    .forumsearch .input-group {
        border: unset;
    }

    .forumpost.unread {
        border-color: #d6b153 !important;
    }

    .forumpost.unread .row.header {
        background-color: transparent;
        border: 0;
    }

    .forumsearch .input-group-prepend {
        vertical-align: middle;
    }

    #theme-receptic-activity-settings-card,
    #theme-receptic-course-settings-card {
        background-color: #1b1b1b;
        border-radius: 15px;
    }

    #theme-receptic-activity-settings-card .nav-tabs,
    #theme-receptic-course-settings-card .nav-tabs {

        border: unset;
    }

    #theme-receptic-activity-settings-card .nav-tabs .nav-link.active:hover,
    #theme-receptic-course-settings-card .nav-tabs .nav-link.active:hover {
        background-color: #262626;
    }

    #theme-receptic-activity-settings-card .nav-tabs .nav-link.active,
    #theme-receptic-course-settings-card .nav-tabs .nav-link.active {
        border: unset;
        background-color: #242424;
        border-radius: 15px 15px 0px 0px;
    }

    #theme-receptic-activity-settings-card > div,
    #theme-receptic-course-settings-card > div {
        border: unset;
    }

    /* awful hardcoded colors */
    span[style*="background-color: rgb("]:not([style^="color: rgb("]):not([style*=" color: rgb("]):not([style*="background-color: rgb(255, 255, 255)"]),
    span[style*="background-color:rgb("]:not([style^="color:rgb("]):not([style*="background-color:rgb(255,255,255)"]) {
        color: #fff !important;
    }

    span[style*="background-color: rgb(255, 207, 53)"],
    span[style*="background-color:rgb(255,207,53)"] {
        background-color: #bd7800 !important;
    }

    span[style="color: rgb(51, 51, 51);"],
    span[style="color:rgb(51,51,51);"] {
        color: #888787 !important;
    }

    span[style="color:rgb(239,69,64);"],
    span[style="color: rgb(239, 69, 64);"] {
        color: #da4f4f !important;
    }

    span[style*="background-color: rgb(152, 202, 62)"],
    span[style*="background-color:rgb(152,202,62)"] {
        background-color: #52632c !important;
    }

    span[style*="background-color: rgb(125, 159, 211)"],
    span[style*="background-color:rgb(125,159,211)"] {
        background-color: #07577f !important;
    }

    span[style*="background-color: rgb(255, 255, 255)"],
    span[style*="background-color:rgb(255,255,255)"] {
        color: #111 !important;
    }



    /* editor */
    .editor_atto_wrap {
        border: 1px solid #8a8686;
        border-radius: 15px;
    }

    .que.essay div.qtype_essay_response textarea {
        background-color: #1d1d1d;
    }

    .que.essay .qtype_essay_response.readonly {
        background: rgb(40, 40, 40);
        border-radius: 10px;
        padding: 10px;
        color: #c9c9c9;
    }


    .qtype_essay_editor.qtype_essay_response:not(.readonly)::after {
        content: "⚠ Les couleurs du sélecteur de couleurs sont hardcodées. Pour revenir à la couleur par défaut, il y a un bouton \"Supprimer le format\".";
        margin-left: 15px;
        font-size: 14px;
    }

    .editor_atto .editor_atto_toolbar {

        border-radius: 15px 15px 0px 0px;
        background-color: #262626;
        border: unset;
        border-bottom: 1px solid #8a8686;
    }

    .editor_atto .editor_atto_content.form-control {
        border: unset;
    }

    .editor_atto .atto_group {
        border-color: #525252 !important;
    }

    .editor_atto .atto_clear_button_removeFormat .icon::before {
        content: url('https://api.iconify.design/ic:baseline-format-clear.svg?height=19');
        vertical-align: -0.125em;
        filter: invert(80%)
    }

    div.editor_atto_toolbar button[disabled] {
        background-color: #353535 !important;
    }

    div.editor_atto_toolbar div.atto_group {
        background-color: #262626;
    }

    .editor_atto .atto_clear_button_removeFormat .icon {
        padding: 0;
        margin-right: 2px;
    }

    .editor_atto .atto_bsgrid_button_iconone {
        vertical-align: middle;
        padding-top: 1px;
    }

    .editor_atto .atto_clear_button_removeFormat {
        /*         padding: 0px 9px; */
        vertical-align: middle;
        margin: 0px;
    }

    .editor_atto .editor_atto_content_wrap {
        background-color: #1d1d1d;
        color: unset;
        border: unset;
        border-radius: 0px 0px 15px 15px;
    }

    .editor_atto_toolbar button:active,
    .editor_atto_toolbar button.highlight,
    .editor_atto_toolbar button:hover {
        background-image: unset !important;
        background-color: #525050 !important;
    }

    .editor_atto_menu .dropdown-menu > li > a {
        margin: 0px;
    }

    .editor_atto_menu .dropdown-menu .atto_menuentry {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .open.atto_title_button.atto_menu > .dropdown-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 12em
    }

    .open.atto_fontcolor_button.atto_menu .dropdown-menu li {
        display: none;
        margin: 0;
        padding: 0;
    }

    .open.atto_fontcolor_button.atto_menu .dropdown-menu li + li {
        display: flex;
    }

    .open.atto_menu > .dropdown-menu {
        display: grid;
    }

    .editor_atto_menu .dropdown-menu > li > a > div {
        margin: auto;
    }

    .editor_atto_menu .dropdown-menu {
        display: grid;
        width: 150px;
        height: 100px;
        grid-template-columns: repeat(3, 1fr);
    }

    .editor_atto_toolbar button i::before {

        color: #b0b0b0 !important;
    }

    .editor_atto_toolbar button {
        background-image: unset;
        background-color: #262525 !important;
        border-color: #615e5e !important;
    }

    .editor_atto_notification .atto_info {
        background-color: #1E1E1E;
        margin-left: 20px;
    }

    .CodeMirror div.CodeMirror-cursor {
        color: #D4D4D4;
        border-color: #D4D4D4;
    }

    .CodeMirror-focused .CodeMirror-selected {
        background-color: #264f78;
    }

    .CodeMirror-selected {
        background-color: #313d41;
    }

    .CodeMirror-gutters {
        border-right: 1px solid #303030;
    }


    .CodeMirror {
        width: unset !important;
        background: #1E1E1E;
        color: #D4D4D4;
        border-radius: 0px 0px 15px 15px;
        border-top: 0;
        line-height: 1.2;
        font-size: 12px;
    }

    .CodeMirror-gutter {
        background: #1d1d1d;
        border: 0;
    }

    .cm-s-default .cm-tag {
        color: #569CD6;
    }

    .cm-s-default .cm-comment {
        color: #608B4E;
    }

    .cm-s-default .cm-attribute {
        color: #9CDCFE;
    }

    .cm-s-default .cm-string {
        color: #CE9178;
    }

    .cm-s-default .cm-variable {
        color: #4EC9B0;
    }

    .cm-s-default .cm-property {
        color: #DCDCAA;
    }

    /* text field */
    .form-control {
        border: 1px solid #999;
    }

    .input-group .form-control {
        border: unset;
        border-radius: unset;
    }

    .form-control,
    .form-control:focus {
        background-color: transparent !important;
        border-radius: 10px;
        color: #fff
    }

    .form-control:focus {
        box-shadow: unset;
    }

    .input-group-prepend,
    .input-group-text,
    .input-group .btn-outline-secondary {
        border: unset;
    }

    .input-group {
        background-color: #242424;
        border: 1px solid white;
        border-radius: 15px;
    }

    #searchform .table td {
        border-top: 1px solid #2c2c2c;
    }

    /* top banner */
    header.fixed-top.brand-banner {
        visibility: visible;

        width: 100px;
        z-index: 2000;
        left: 70px;
        height: 50px;
        background: unset;
        /*         height: 0%;
/*         background: linear-gradient(to bottom, #313030 0%, #2f2e2e 20%, #2b2a2a 40%, #252525 60%, #222 80%, #212221 100%); */
        /*         background: unset;
        background-color: #1f1f1f; */
    }

    header.fixed-top.brand-banner .right-logo {
        visibility: hidden;
    }

    header.fixed-top.brand-banner .left-logo {
        left: 0px;
        width: 100px;
        height: 30px;
        box-shadow: unset;
        top: 10px;
    }

    header.fixed-top.brand-banner .left-logo img {
        visibility: hidden;
    }

    /* title color in "chronology" */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .path-calendar .maincalendar .calendar-controls .current,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: #9faab5;
    }

    /* calendar */
    .calendar_event_course a {
        color: #04d8d2;
    }
    .calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar.calendartable td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even),
    .block-region .block .minicalendar.calendartable td:nth-child(even) {
        background-color: inherit;
    }

    .block-region .block .minicalendar .calendar-controls .arrow_link.next .arrow {
        visibility: hidden;
        position: relative;
    }
    .block-region .block .minicalendar .calendar-controls .arrow_link.next .arrow:before {
        visibility: visible;
        position: absolute;
        content: "";
        font-family: "FontAwesome";
        font-size: 12;
        color: inherit;
    }

    .block-region .block .minicalendar .calendar-controls .arrow_link.previous .arrow {
        visibility: hidden;
        position: relative;
    }
    .block-region .block .minicalendar .calendar-controls .arrow_link.previous .arrow:before {
        visibility: visible;
        position: absolute;
        content: "";
        font-family: "FontAwesome";
        font-size: 12;
        color: inherit;
    }

    .path-calendar .maincalendar .calendarmonth thead {
        /*         width: 100%; */
    }

    .path-calendar .maincalendar .calendarmonth .weekend {

        background: #171717;
    }

    .calendarwrapper .header .select.custom-select.cal_courses_flt {
        width: 35%;
        margin-left: 20px;
    }

    .calendarwrapper .header {
        /*         display: inline-grid; */
        /*         display: table; */
        /*         width: 100%; */
    }

    .calendarwrapper .header .btn.btn-secondary {
        margin-left: 20px;
    }

    .path-calendar .maincalendar .calendarmonth {
        border: 1px solid #353535;
    }

    .path-calendar .maincalendar .calendarmonth td {
        border: 1px dotted #303030;
    }

    .path-calendar .maincalendar .calendarmonth th {
        background-color: #262626;
        color: #fff;
    }

    .block-region .block .minicalendar td,
    .block-region .block .minicalendar.calendartable td {
        border: 1px solid transparent;
    }

    /* back to top arrow */
    #back-to-top a.arrow {
        color: #ccc;
        background: #171717;
    }

    /* block */
    #blocks-column {
        height: calc(100vh - 60px)
    }

    .block_header {
        border-bottom: unset !important;
        text-align: center;
    }

    .block-region .card-body {
        border-radius: 15px;
    }

    .block-region .block {
        border: unset;
    }
    .block-region .block .card-body .card-title {
        color: #67f917;
    }
    .block-region .block .card-body .card-title:before {
        color: #a6a5a5;
    }
    .block-region .block .card-body {
        background-color: #201f1f;
        box-shadow: 1px 1px 2px 0 #2b2929;
    }

    .block_timeline .list-group-item {
        border-radius: 10px;
        margin-top: 5px;
    }


    .block_timeline .list-group-item .d-flex {
        padding: 0.5em;
    }

    .block_timeline .list-group-item-action {
        color: #d4d3d3;
    }

    /* block with personal files */
    .ygtvfocus {
        background-color: #282727;
    }


    /* notifications */
    .navbar .popover-region-container {
        top: 2.5rem;
        box-shadow: 1px 1px #353434;
    }

    .popover-region-toggle::before,
    .popover-region-toggle::after {
        border: unset;
    }


    .popover-region-container,
    .popover-region-footer-container {
        background-color: #282727;
        border: unset;
        border-radius: 15px;
        padding: 10px;
    }
    .popover-region .content-item-container {

        border: unset;
    }
    .popover-region .content-item-container:hover {
        background-color: #333131;
        border-radius: 10px;
    }
    .content-item-container:hover .content-item-footer .timestamp,
    .content-item-container .content-item-footer .timestamp,
    .content-item-container .content-item-footer .timestamp:hover {
        color: #e3d7d7;
    }
    .popover-region-header-container {
        border: unset;
    }
    .content-item-container.unread {
        background-color: #333;
        font-weight: 700;
    }
    .content-item-container.unread .content-item-body .notification-message {
        font-weight: 700;
        color: #1edcdd;
    }
    .content-item-container.unread:hover {
        background-color: #4e4e4f;
    }
    .popover-region .notification-message {
        color: #1edcdd;
    }
    .popover-region .notification-message:hover {
        color: #52ae52;
    }
    .content-item-container.unread a {
        color: #22c4c6;
    }

    /* icons */
    #blocks-column-toggle:before,
    .fa-plus:before {
        color: #dbd9d9
    }
    *:before {
        color: #a5a4a4
    }



    /* Button on dashboard */
    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #186f70;
    }

    .btn-outline-secondary:hover,
    .btn-outline-secondary:focus {
        background-color: #484848;
    }
    .show > .btn-outline-secondary.dropdown-toggle {
        background-color: #424040;
        color: #cac7c7;
        box-shadow: unset;
    }

    /* buttons */
    .btn {
        border-radius: 10px;
    }

    .btn-outline-secondary {
        border: 1px solid #666;
    }

    /* dropdown menus */
    .dropdown-menu .dropdown-item:focus {
        background-color: #313130;
        color: #bfbfbf;
    }
    .dropdown-menu .dropdown-item {
        color: #bfbfbf;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dropdown-menu .dropdown-item.active {
        background-color: #1e4042;
        color: #e3e2e2;
    }
    .dropdown-menu .dropdown-divider {
        margin: 0;
        border-color: #606060;
    }
    .dropdown-menu .dropdown-item:hover {
        background-color: #333;
        color: #fff;
    }
    .dropdown-menu :first-child .dropdown-item,
    .dropdown-menu > :first-child.dropdown-item {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .dropdown-menu :last-child .dropdown-item,
    .dropdown-menu > :last-child.dropdown-item {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .dropdown-menu {
        background-color: #222121;
        border-radius: 10px;
        padding: 0;
        border-color: #606060;
    }

    /* Fix weird white flash when the page is loading */
    .bg-pulse-grey {
        animation: unset;
        background-color: #201f1f;
    }

    /* modal */
    .modal-content {
        border-radius: 15px;
    }

    .modal-header {
        border-bottom: 1px solid #4a4848;
    }

    .modal-footer {
        border-top: 1px solid #4a4848;
    }

    .modal-title {
        color: #f2ebeb;
    }

    .modal-body .list-group-item:hover {
        color: #e5e5e5;
    }

    .modal-body .list-group-item {
        color: #fff;
        background-color: #2e2e2e;
        margin-top: 5px;
        border-radius: 7px;
    }


    /* ================= */
    /* courses overview */
    /* course list */
    .text-muted,
    .resourcelinkdetails {
        color: #b3b3af !important;
    }
    .block-region .block.block_myoverview [data-region="course-content"] a.coursename {
        color: #00fff7;
    }
    .courses .coursebox.even {
        background-color: #242424;
        border-radius: 5px;
    }
    .course-content ul li.section.main {
        border-bottom: 1px solid #444;
    }
    div.availabilityinfo .badge.badge-info {
        background-color: #373737;
        border: 0;
        border-radius: 15px;
        padding: 5px 15px;
        color: #eeecec;
        font-weight: 500;
    }
    div.availabilityinfo::before {
        color: #ff6c6c;
        font-size: 16px;
    }
    
    .course-content ul.collapsibletopics li.section.current, .course-content ul.collapsibleweeks li.section.current {
        background-color: unset;
    }

    /* Progress block */
    /* done */
    .block_completion_progress .progressBarCell[style*="background-color:#73A839;"] {
        background-color: #b3da6e !important;
    }
    .block_completion_progress .progressBarCell[style*="background-color:#73A839;"]:hover {
        background-color: #d1f592 !important;
    }

    /* waiting */
    .block_completion_progress .progressBarCell[style*="background-color:#FFCC00;"] {
        background-color: #88b6df !important;
    }
    .block_completion_progress .progressBarCell[style*="background-color:#FFCC00;"]:hover {
        background-color: #b2d4f2 !important;
    }

    /* not done */
    .block_completion_progress .progressBarCell[style*="background-color:#025187;"] {
        background-color: #5f5d5d !important;
    }
    .block_completion_progress .progressBarCell[style*="background-color:#025187;"]:hover {
        background-color: #9b9b9b !important;
    }

    .block_completion_progress .progressBarCell[onclick="document.location='';"] {
        display: none !important;
    }
    .block_completion_progress .progressEventInfo a img {
        margin-bottom: 1em;
    }

    .block_completion_progress .progressBarCell.firstProgressBarCell,
    .block_completion_progress .progressBarCell {
        border: 0;
    }

    .block_completion_progress .progressBarCell .nowDiv {
        display: none;
    }

    li.activity.label.modtype_label .actions {
        display: none;
    }

    .block_completion_progress .barRow {
        margin-top: 0px !important;
        margin-bottom: 10px;
        height: 15px;
    }

    .block_completion_progress .progressBarCell {
        height: 15px;
    }

    .block_completion_progress .progressBarCell .icon {
        display: none;
    }

    .block_completion_progress .progressEventInfo {
        white-space: normal;
    }

    /* new icons (beta) */
    .ygtvcell .icon {
        height: 16px;
        vertical-align: middle;
        width: 16px;
        filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
    }

    img.icon.smallicon,
    .content-item-container .notification-image img,
    .notification-area .image-container img {
        height: 20px;
        width: 20px;
        filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
    }

    img.activityicon,
    #page-mod-folder-view .fp-icon .icon,
    .block_completion_progress .progressEventInfo img {
        height: 24px;
        width: 24px;
        filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
    }

    /* URL */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/url/"][src$="/icon"] {
        content: url('https://api.iconify.design/mdi:link-variant.svg?height=24');
    }

    /* Forum / Annonce */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/mod_forum/"][src$="/icon"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/forum/"][src$="/icon"] {
        content: url('https://api.iconify.design/ic:round-forum.svg?height=24');
    }

    /* Workshop / Peer review */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/workshop/"][src$="/icon"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/feedback/"][src$="/icon"] {
        content: url('https://api.iconify.design/uil:feedback.svg?height=24');
    }

    /* Quiz */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/quiz/"][src$="/icon"] {
        content: url('https://api.iconify.design/ant-design:form-outlined.svg?height=24');
    }

    /* PDF */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/pdf"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/pdf-24"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/amanote/"][src$="/icon"] {
        content: url('https://api.iconify.design/bx:bxs-file-pdf.svg?height=25');
    }

    /* Vidéo */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/ubicast/"][src$="/icon"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/mpeg-24"] {
        content: url('https://api.iconify.design/carbon:play-filled.svg?height=24');
    }

    /* Zip */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/archive-24"] {
        content: url('https://api.iconify.design/clarity:file-zip-solid.svg?height=24');
    }

    /* Link to webcampus */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/page/"][src$="/icon"] {
        content: url('https://api.iconify.design/bx:bxs-note.svg?height=24');
    }

    /* Source code */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/sourcecode-24"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/markup-24"] {
        content: url('https://api.iconify.design/mdi:file-code.svg?height=54');
    }

    /* Png */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/png"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/png-24"] {
        content: url('https://api.iconify.design/bx:bxs-file-png.svg?height=25');
    }
    /* Jpg */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/jpeg-24"] {
        content: url('https://api.iconify.design/bx:bxs-file-jpg.svg?height=25');
    }

    /* Word */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/document-24"] {
        content: url('https://api.iconify.design/mdi:file-word.svg?height=25');
    }

    /* Powerpoint */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/powerpoint-24"] {
        content: url('https://api.iconify.design/mdi:file-powerpoint.svg?height=25');
    }

    /* Excel */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/spreadsheet-24"] {
        content: url('https://api.iconify.design/mdi:file-excel.svg?height=25');
    }
    
    /* Wiki */ 
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/wiki/"][src$="/icon"] {
        content: url('https://api.iconify.design/carbon:wikis.svg?height=25');
    }

    /* Devoir (upload) */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/assign/"][src$="/icon"],
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/mod_assign/"][src$="/icon"] {
        content: url('https://api.iconify.design/ic:round-file-upload.svg?height=24');
    }

    /* Folder */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/folder/"][src$="/icon"] {
        content: url('https://api.iconify.design/ic:round-folder.svg?height=24');
    }
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/folder-24"] {
        content: url('https://api.iconify.design/ant-design:folder-open-filled.svg');
    }

    /* Scheduler */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/scheduler/"][src$="/icon"] {
        content: url('https://api.iconify.design/mdi:calendar-clock.svg?height=24');
    }

    /* Question (choice) */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/choice/"][src$="/icon"] {
        content: url('https://api.iconify.design/mdi:comment-question.svg?height=24');
    }

    /* Glossary */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/glossary/"][src$="/icon"] {
        content: url(' https://api.iconify.design/bx:bx-sort-a-z.svg?height=24');
    }

    /* Certificate */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/customcert/"][src$="/icon"] {
        content: url('https://api.iconify.design/mdi:certificate.svg?height=24');
    }

    /* Wooclap */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/wooclap/"][src$="/icon"] {
        content: url('https://api.iconify.design/ls:w.svg?height=24&inline=true');
    }

    /* Choose a group */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/choicegroup/"][src$="/icon"] {
        content: url('https://api.iconify.design/bi:people-fill.svg?height=24');
    }

    /* Generic text file */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/text-24"] {
        content: url('https://api.iconify.design/eva:file-fill.svg?height=25');
    }

    /* Chat */
    img.activityicon[src^="https://webcampus.unamur.be/theme/image.php/receptic/chat/"][src$="/icon"] {
        content: url('https://api.iconify.design/bi:chat-dots-fill.svg?height=24');
    }

    /* Amanote thingy at the right */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/folder"] {
        content: url('https://api.iconify.design/ic:round-folder.svg?height=16');
        filter: invert(100%);
    }
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/core/"][src$="/f/archive"] {
        content: url('https://api.iconify.design/eva:file-fill.svg?height=16');
        filter: invert(100%);
    }

    /* text info block */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/label/"][src$="/icon"] {
        content: url('https://api.iconify.design/fe:text-align-left.svg?height=24');
    }

    /* Not terminated */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/block_completion_progress/"][src$="/cross"] {
        content: url('https://api.iconify.design/emojione-monotone:cross-mark.svg?height=12');
        height: 12px !important;
        width: 12px !important;
        vertical-align: -0.125em;
        filter: invert(55%) sepia(12%) saturate(2496%) hue-rotate(315deg) brightness(99%) contrast(89%) !important;
    }

    /* Done */
    img[src^="https://webcampus.unamur.be/theme/image.php/receptic/block_completion_progress/"][src$="/tick"] {
        content: url('https://api.iconify.design/fa-solid:check.svg?height=12');
        vertical-align: -0.125em;
        height: 12px !important;
        width: 12px !important;
        filter: invert(85%) sepia(24%) saturate(888%) hue-rotate(64deg) brightness(88%) contrast(85%) !important;
    }
    
    /* ================== */
    
    /* Feedback module */
    
    #page-mod-feedback-print {
        background-color: #1b1b1b
    }
    
    #page-mod-feedback-print #page-content #region-main {
        max-width: 1200px;
        margin: auto;
    }
    
 
    
    #page-mod-feedback-print #page-content #region-main .form-group.row .col-md-3 {
        max-width: 40%;
        flex: 0 0 40%;
    }
    
    #page-mod-feedback-print #page-content #region-main .form-group.row .col-md-9 {
        max-width: 60%;
        flex: 0 0 60%;
    }


    
    

    /* ================= */
    /* home */
    /* popover when mouse hover calendar */
    .bs-popover-top .arrow::after {
        border-top-color: #333;
    }
    .popover,
    .popover-header,
    .popover-body {
        background-color: #333;
        color: #fff;
    }

    /* ================== */
    /* /user/profile.php */
    /* user profile frames */
    #page-enrol-users #filterform,
    .que .history,
    .userprofile .profile_tree section,
    .groupinfobox,
    .well,
    .path-calendar .maincalendar .calendar-event-panel {
        background-color: #393737;
        border-color: #444343;
    }

    /* ================== */
    /* homework submission page */
    /* "remis pour evaluation" color */
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted {
        background-color: #1e6a36;
        color: #e8e5e5;
    }

    /* alternate fields */
    .path-mod-assign td.submissionnotgraded,
    .path-mod-assign div.submissionnotgraded,
    .path-mod-assign td.earlysubmission,
    .path-mod-assign div.earlysubmission {
        background-color: #3f403f;
        color: #e8e5e5;
    }

    /** ==================== */
    /* warning */
    .flashbox {
        background: #222;
            border-radius: 15px;
    }

    .flashbox.warning {
        border: 2px solid #d84d4d;
    }
    
    .flashbox.trick {
        border: 2px solid #ffff7b;
    }

    /* ================== */
    /* messaging app */
    /* received message bubble */
    .message-app.drawer {
        height: calc(100vh - 60px);
    }

    .message-app.drawer .footer-container .border-top {
        border-top: unset !important;
    }

    .message-app .header-container {
        background-color: #242424;
    }

    .card-header {
        background-color: #1f1f1f;
        border-color: #4e4d4d;
    }

    .message-app.drawer .message.received {
        background-color: #262525 !important;
    }

    .message-app.drawer .message.received .tail {
        border-bottom-color: #262525;
    }

    .message-app .footer-container {
        background-color: #222;
    }


    .message-app .footer-container textarea {
        border: unset;
        border-radius: 15px;
    }

    /* sent message bubble */
    .message-app.drawer .message.send .tail {

        border-bottom-color: #3b3a3a;
    }
    .bg-secondary {
        background-color: #3b3a3a !important;
    }


    /* background color */
    .bg-light {
        background-color: #191919 !important;
    }
    .border-bottom {
        border-bottom: 1px solid transparent !important;
    }
    .message-app .text-center {
        background-color: inherit;
    }
    .bg-white {
        background-color: inherit !important;
    }

    /* nav drawer */
    div::-webkit-scrollbar-thumb,
    section::-webkit-scrollbar-thumb,
    div::-webkit-scrollbar-track,
    section::-webkit-scrollbar-track {
        border-radius: 10px;
    }


    #nav-drawer .list-group a.list-group-item.active {
        background-color: #1e4a51;
        border: 1px solid #1e4a51;
        border-radius: 15px;
    }
    .navbar-receptic [data-region="drawer-toggle"] .btn-secondary {

        background-color: #282828;
        border-color: #5d5d5d;
    }
    .navbar-receptic a.dropdown-item {
        color: #d2d4d7;
    }
    .navbar-receptic a.dropdown-item:hover,
    .navbar-receptic a.dropdown-item:focus:hover {
        background-color: #424040;
        color: #fff;
    }
    .navbar-receptic a.dropdown-item:focus {
        background-color: unset;
        color: #d2d4d7;
    }
    .navbar-receptic {
        top: 0;
        background: unset;
        background-color: #242424;
        box-shadow: 0px 1px #2e2c2c;
    }
    body.shrinkablenavdrawer #nav-drawer.closed {
        background-color: #212020;
    }
    #nav-drawer {
        user-select: none;
        background-color: #212020;
        border-radius: 15px;
        height: calc(100vh - 70px);
        box-shadow: 1px 1px #242323;
    }
    #nav-drawer .list-group div.list-group-item,
    #nav-drawer .list-group a.list-group-item {
        box-shadow: unset;
        background-color: #212020;
        border: 1px solid transparent;
        color: #c5c6c8;
    }
    #nav-drawer .list-group div.list-group-item:hover,
    #nav-drawer .list-group a.list-group-item:hover {
        border: 1px solid transparent;
        ;
        border-radius: 10px;
        background-color: #333030;
    }
    .que .outcome {
        background-color: #232323;
        border-radius: 15px;
        color: #5fd0c6;
    }


    /* =========== */
    /* evaluations */
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background-color: #262525;
        color: #fff;
        border-color: #827f7f;
    }
    .nav-tabs {
        border-bottom: 1px solid #827f7f;
    }

    /* =========== */
    /* quiz */
    #page-mod-quiz-attempt .que {
        box-shadow: unset;
    }

    .que.ddwtos .group1 {
        background-color: transparent;
        border: 0;
        margin: 2px;
    }

    .que.ddwtos .group1 {
        color: #e9e2e2;
        background-color: #4a4848;
        border-radius: 15px;
        box-shadow: 0.15em 0.15em 0.4em #171717;
    }

    .que.ddwtos .drag.beingdragged {
        box-shadow: 3px 3px 4px #171717;
    }

    .que.ddwtos .drop:focus,
    .que.ddwtos .drop.valid-drag-over-drop {
        box-shadow: 0 0 2px 3px rgb(143, 173, 206);
    }


    .que.ddwtos .group1.drop {
        border-radius: 15px;
        background-color: #282828;
    }

    .que.multianswer .feedbackspan {
        background-color: #5b5a5a;
        padding: 10px;
        box-shadow: 0.5em 0.5em 1em #171616;
        border: 0;
        border-radius: 15px;
        color: #c9c9c9;
    }


    .path-mod-quiz input[type=text] {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .que.ddwtos .readonly .drag {
        background-color: #2c2c2c;
        border: 0;
        color: #f2f2f2;
        border-radius: 10px;
    }

    .path-mod-quiz #mod_quiz_navblock .qnbutton {
        border-radius: 3px;
    }

    .questionflagsaveform {
        box-shadow: none;
        border: none;
    }

    .que .icon.fa-check.text-success:before {
        color: #69bf56;
        margin: 4px;
    }

    .que .icon.fa-remove.text-danger:before {
        color: #ff5454;
        margin: 4px;
    }

    .que.multichoice .answer div.specificfeedback {
        background-color: #2a2a2a;
        color: #e5e3e3;
        border-radius: 10px;
        margin: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 12px;
        padding-right: 12px;
    }


    input[type=radio],
    input[type=checkbox] {
        /* Hide original inputs */
        visibility: hidden;
        position: absolute;
    }
    
    #page-mod-choicegroup-view .choicegroups input[type="radio"] {
        visibility: unset;
        position: unset;
    }
    
    #page-mod-choicegroup-view .choicegroups input[type="checkbox"] {
        visibility: unset;
        position: unset;
    }
    
    #page-mod-choicegroup-view div.tablecontainer  {
        border-radius: 15px;
    }


    /* Don't affect other types of input */
    label > input[type=radio],
    label > input[type=checkbox] {
        visibility: visible;
    }

    .custom-radio .custom-control-label:after {
        visibility: hidden;
        content: unset;
    }
    .custom-control {
        padding-left: unset;
    }
    .custom-radio .custom-control-label::before {
        background: none;
        position: unset;
        top: unset;
        left: unset;
    }
    .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
    .custom-radio .custom-control-input:active ~ .custom-control-label::before {
        background: none;
    }


    .switch input[type=checkbox]:checked + label:before {
        content: "";
        filter: unset;
    }

    .switch input[type=checkbox] + label::before,
    .switch input[type=checkbox] + label::after {
        content: "";
        position: absolute;
        top: calc(50% - .825rem);
        left: 0;
        width: 3.3rem;
        height: 1.65rem;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        filter: unset;
        display: block;
    }

    .switch input[type=checkbox] + label::after {
        margin-top: 2px;
        left: 2px;
        width: calc(1.65rem - 4px);
        height: calc(1.65rem - 4px);
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
    }

    /*     .switch input:checked + label::before {
        background-color: #1a9e9f;
    }
    .switch input + label::before {
        right: 0;
        background-color: #dee2e6;
        border-radius: 1.65rem;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
    }
    .switch input + label::before,
    .switch input + label::after {
        content: "";
        position: absolute;
        top: calc(50% - .825rem);
        left: 0;
        width: 3.3rem;
        height: 1.65rem;
        bottom: 0;
        display: block;
    } */
    /* checked */
    input[type=checkbox]:checked + label:before {
        content: url('https://api.iconify.design/mdi:checkbox-marked.svg?height=20');
        vertical-align: -0.125em;
    }

    input[type=radio]:checked + label:before,
    label > input[type=radio]:checked :before {
        content: url('https://api.iconify.design/mdi:radiobox-marked.svg?height=20');
        vertical-align: -0.125em;
    }

    input[type=radio]:checked + label:before,
    input[type=checkbox]:checked + label:before {

        filter: invert(69%) sepia(76%) saturate(572%) hue-rotate(173deg) brightness(102%) contrast(101%);
    }
    /* checked disabled */
    input[type=radio]:disabled:checked + label:before,
    input[type=checkbox]:disabled:checked + label:before {
        filter: invert(52%) sepia(11%) saturate(934%) hue-rotate(161deg) brightness(91%) contrast(93%);
    }

    /* disabled unchecked */
    input[type=radio]:disabled + label :before,
    input[type=checkbox]:disabled + label:before {
        cursor: not-allowed;
        filter: invert(45%) sepia(6%) saturate(189%) hue-rotate(161deg) brightness(92%) contrast(95%);
    }

    /* enabled unchecked */
    input[type=checkbox] + label:before {
        content: url('https://api.iconify.design/mdi:checkbox-blank-outline.svg?height=20');
        vertical-align: -0.125em;
    }

    input[type=radio] + label:before {
        content: url('https://api.iconify.design/mdi:radiobox-blank.svg?height=20');
        vertical-align: -0.125em;
    }

    input[type=radio] + label:before,
    input[type=checkbox] + label:before {
        filter: invert(100%) sepia(0%) saturate(4295%) hue-rotate(71deg) brightness(119%) contrast(88%);
        height: 21px;
        cursor: pointer;
        width: 21px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 12px;
        display: inline-block;
    }

    .modal-content,
    .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
        background-color: #262525;
    }
    .moodle-dialogue-base .closebutton,
    .user-enroller-panel .uep-header .close,
    .user-enroller-panel .uep-header .moodle-dialogue-base .closebutton,
    .moodle-dialogue-base .user-enroller-panel .uep-header .closebutton {
        background-image: none;
    }
    .moodle-dialogue-base .closebutton::after,
    .user-enroller-panel .uep-header .close:after,
    .user-enroller-panel .uep-header .moodle-dialogue-base .closebutton:after,
    .moodle-dialogue-base .user-enroller-panel .uep-header .closebutton:after {
        color: #47a4b9;
    }
    #page-mod-quiz-view table.quizattemptsummary tr.bestrow td {
        background-color: #1f1f1f;
    }
    .moodle-dialogue-base .moodle-dialogue-lightbox {
        background-color: #272727;
    }
    .path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
        border: unset;
    }
    .path-mod-quiz #mod_quiz_navblock span.qnbutton {
        background-color: #2d2d2d;
    }

    .path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight {
        background-color: #7df8ff;
    }

    .path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
    .path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight {
        background-color: #7b7a7a;
    }

    #page-mod-quiz-attempt .que,
    #page-mod-quiz-review .que,
    #page-question-preview .que {
        background-color: rgb(27, 27, 27);
        box-shadow: none;
    }
    .que .info {
        background-color: #2a2a2a;
    }
    .custom-select:disabled {
        background-color: #2a2a2a;
        color: #c7c4c4;
        border-color: rgba(106, 106, 106, .19);
    }
    .que .formulation {

        color: #e1e1e1;
    }
    .table th,
    table.collection th,
    table.flexible th,
    .generaltable th,
    .table td,
    table.collection td,
    table.flexible td,
    .generaltable td {
        border-color: #464646;
    }


    table.quizreviewsummary th.cell,
    table.quizreviewsummary td.cell {
        background-color: #1e1d1d;
        border: unset;
    }

    /* =========== */
    /* Upload */
    .filepicker-filelist .dndupload-target,
    .filemanager-container .dndupload-target,
    .filepicker-filelist.dndupload-over .dndupload-target,
    .filemanager-container.dndupload-over .dndupload-target {
        background-color: #222;
    }




    .fp-upload-form,
    .fp-iconview,
    .fp-filename-field,
    .fp-filename .text-truncate,
    .fp-iconview .fp-filename-field .fp-filename,
    .fp-content .card,
    .file-picker .fp-content {
        background-color: #1e1d1d !important;
    }

    .fp-thumbnail,
    .fp-reficons1,
    .fp-reficons2 {
        border: unset !important;
    }

    .custom-select {
        width: 100%;
        background-color: #2a2a2a;
        background: #2a2a2a url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23c7c4c4\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E") no-repeat right .75rem center;
        -webkit-background-size: 8px 10px;
        background-size: 8px 10px;
        border-radius: 5px;
        color: #fff;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 10px !important;
    }

    .custom-select option {
        background-color: #242424;
    }

    .custom-select option:hover {
        background-color: #292929
    }

    button.close span,
    .moodle-dialogue-base button.closebutton span {
        color: #fff;
    }

    button.close,
    .moodle-dialogue-base button.closebutton {
        background-color: transparent !important;
        opacity: 1;
    }

    .close,
    .moodle-dialogue-base .closebutton {
        text-shadow: unset;
    }

    /*     .fp-toolbar .btn-secondary, .fp-toolbar .btn-default, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .wikisearch form input, .wikisearch form .fp-toolbar input, .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-toolbar #id_advancedadddiscussion, .fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"], .fp-viewbar .btn-secondary, .fp-viewbar .btn-default, .fp-viewbar .atto_generico_buttons button, .atto_generico_buttons .fp-viewbar button, .fp-viewbar .wikisearch form input, .wikisearch form .fp-viewbar input, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-viewbar #id_advancedadddiscussion, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] {
    background-color: #4e4a4a;
    border: 1px solid #1e1d1d;
    
}
    
    .fptoolbar .btn-secondary ::before,  .fp-toolbar .btn-default ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .wikisearch form input ::before, .wikisearch form .fp-toolbar input ::before,  .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion ::before,#page-mod-forum-view .fp-toolbar #id_advancedadddiscussion::before, fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"] ::before, .fp-viewbar .btn-secondary ::before,.fp-viewbar .btn-default ::before,  .fp-viewbar .atto_generico_buttons button ::before, .fp-viewbar .wikisearch form input ::before, .wikisearch form .fp-viewbar input ::before, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion ::before, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] ::before, i .icon .fa .fa-refresh .fa-fw ::before   {
        color: #f2e4e4 !important ;
    } */
    /* peer review */
    .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.submissiongrade,
    .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
        background-color: #353737;
        border: 1px solid #6e6e6e;
    }

    .path-mod-workshop .userplan {
        border-radius: 15px;
        border-color: #686868;
    }

    .path-mod-workshop .userplan dt div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .path-mod-workshop .submission-summary .userdate {
        color: #aca9a9;
    }

    .path-mod-workshop .userplan dt .actions {
        display: inline;
    }

    .path-mod-workshop .userplan dt {
        background-color: #1b1b1b;
        text-align: center;
        vertical-align: middle !important;
        border-color: #686868;
    }

    .path-mod-workshop .userplan .nonactive.phasetasks {
        background-color: #0c0c0c;
        border-color: #686868;
    }
    .path-mod-workshop .userplan dt.active {

        background-color: #346c2a;
        color: #fff;
    }

    .path-mod-workshop .userplan dd.active {
        background-color: #2a5b21;
        color: #fff;
    }

    /* assessement */
    .path-mod-workshop .assessment-full {
        background-color: #201f1f;
        border-radius: 13px;
        border: 1px solid #7d7575;
    }

    .path-mod-workshop .assessment-full .header {
        background-color: #201f1f;
        border-radius: 13px;
    }

    .path-mod-workshop .assessment-full .header .userdate {
        color: #fff
    }

    /* submission */
    .path-mod-workshop .submission-full {

        background-color: #201f1f;
        border-radius: 13px;
        border: 1px solid #7d7575;
    }

    .path-mod-workshop .submission-full .header {

        background-color: #201f1f;
        border-radius: 13px;
    }

    .path-mod-workshop .submission-full .header .userdate {
        color: #fff
    }




    /* other things I don't remember */
    .switch input + label::before {
        background-color: #776a6a;
    }

    .overlay-icon-container {
        background-color: #201f1f;
    }
    .list-group-item:hover {
        background-color: #353535;
        color: #737373;
    }
    .fa-user-plus:before {
        color: #fff;
    }
    li.page-item .page-link,
    li.page-item.disabled .page-link {
        background-color: #3c3939;
        border-color: #626262;
    }

    /* ========== */
    /* login page */
    #page-login-index .input-group .input-group-text {
        background-color: #393939;
        border-radius: 15px 0px 0px 15px;
        ;
        width: 36px;
        text-align: center;
    }

    #page-login-index .input-group .input-group-text ::before {

        color: white;
    }

    #page-login-index .loginpanelbg {
        background-color: #1f1e1e;
    }
    #page-login-index #accordion .card-header {
        background-color: unset;
    }

    #page-login-index .card {
        border-radius: 15px;
        background-color: #171717;
    }

    #page-login-index .input-group-addon {
        background-color: #2d2b2b;
    }
    #page-login-index .glyphicon-log-in:before {
        color: #fff !important;
    }
    #page-login-index .btn-success {
        color: #fff !important;
        ;
        background-image: unset;
        background-color: #3c7919;
        border-color: transparent;
    }
    #page-login-index div#wrap {
        background-image: unset;
        background-color: #070707;
    }
}

@-moz-document domain("medias.unamur.be") {

    /* video player */
    #player_block .player-mask {
        cursor: pointer;
    }

    #header {
        background-color: #333;
        color: #717171;
    }

    #container {
        background-color: #1c1c1c;
        color: #ececec;
    }

    #player_block .player-seekbar-container {
        left: 0.3em;
        right: 0.3em;
    }

    .button {
        color: #e5e5e5;
    }

    #global .main-title {

        background-color: #1c1c1c;
        color: #ececec;
    }

    #player_block .player-seekbar-left,
    #player_block .player-seekbar-right {
        visibility: hidden;
    }

    body {
        background-color: #171717;
        color: #fff;
    }

    #player_block .player-controls .player-ctrl-menu-container {
        background: #000000e3;
        border-radius: 15px 15px 0px 0px;
    }

    #player_block.player-controls-hover .player-controls {
        user-select: none;
    }


    #player_block .player-mask div {
        visibility: hidden !important;
    }
}
