/* ==UserStyle==
@name           Webcampus Dark Theme
@namespace      github.com/martin-danhier
@version        0.3.7
@description    Dark theme for webcampus
@author         Martin Danhier
==/UserStyle== */

@-moz-document domain("webcampus.unamur.be"), domain("auth.unamur.be") {

    
    /* Main colors */
    body {
        
    }
    
    ul.navbar-nav.d-none.d-md-flex::after {
        content:"Webcampus";
        font-size: 18px;
        
    }
    
    #blocks-column-toggle {
        top: 0px;
        margin-top: 75px;
    }
    
    #page, #nav-drawer, #blocks-column, .message-app.drawer  {
        top: 0px;
        margin-top: 60px !important;
    }
    
    
    #page-wrapper #page-footer {
        border-radius: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #page-header {
        visibility: visible;
    }
    
    #page-header .card {
        background-color: #1b1b1b;
        box-shadow: unset;
        border-radius:15px;
        border: unset;
    }
    
    #region-main {
        background-color: #1b1b1b;
        
        border-radius:15px;
        border: unset;
    }
    h2 {
        color: #fff;
    }
    #page-my-index {
        background-color: #171717 !important;
    }
    .list-group-item {
        background-color: #262626;
        box-shadow: 0.5px 0.5px #393535;
        border: unset;
        color: #737373;
    }
    
    
    #region-main .list-group-item {

        border-radius: 15px;
    }
    .bg-dark {
        background-color: #151414 !important;
    }
    a {
        color: #1cc9ca;
    }
    body {
        background-color: #171717;
        color: #fbfbfb;
    }
    .card {
        background-color: #171717;
        border-color: #4f4f4f;
    }
    #region-main .card-body {
        
        border-radius: 15px;
    }
    
    .mediaserver-iframe {
      border-radius: 15px;
        user-select: none;
    }

    .region_main_settings_menu_proxy {
        background-color: inherit;
    }

    /* forum */
    
    .forum-post-container:focus>.focus-target, .custom-select {
        border-radius: 10px;
        border-width: 1px;
        border-color: #616161;
    }
    
    .forum-post-container:focus>.focus-target {
        outline: unset;
        box-shadow: 0px 0px 0px 2px #598192;
        border-radius: 15px;
        border-color: transparent !important;
    }
    
    .forumpost {
        border: 1px solid #373737 !important;
        border-radius: 15px;
    }
    
    .forumsearch .input-group{
        border: unset;
    }
    
    .forumpost.unread {
        border-color: #d6b153 !important;
    }
    
    .forumpost.unread .row.header {
        background-color: transparent;
        border: 0;
            
    }
    
    .forumsearch .input-group-prepend {
        vertical-align: middle;

    }
    
    #theme-receptic-activity-settings-card, #theme-receptic-course-settings-card {
        background-color: #1b1b1b;   
        border-radius: 15px;
    }
    
    #theme-receptic-activity-settings-card .nav-tabs, #theme-receptic-course-settings-card .nav-tabs {
        
        border: unset;
    }
    
    #theme-receptic-activity-settings-card .nav-tabs .nav-link.active:hover, #theme-receptic-course-settings-card .nav-tabs .nav-link.active:hover {
        background-color: #262626;
    }
    
    #theme-receptic-activity-settings-card .nav-tabs .nav-link.active, #theme-receptic-course-settings-card .nav-tabs .nav-link.active {
        border: unset;
        background-color: #242424;
        border-radius: 15px  15px 0px 0px;
    }
    
    #theme-receptic-activity-settings-card>div, #theme-receptic-course-settings-card>div {
        border: unset;
    }
    
    /* editor */
    
    .editor_atto {
        border: 1px solid #6e6b6b;
        border-radius: 15px;
    }
    
    .editor_atto .editor_atto_toolbar {
        
        border-radius: 15px 15px 0px 0px;
        background-color: #262626;
        border: unset;
    }
    
    .editor_atto .editor_atto_content.form-control {
        border: unset;
    }
    
    .editor_atto .atto_group {
        border-color: #525252 !important; 
    }
    
    .editor_atto .editor_atto_content_wrap {
        background-color: #1d1d1d;
        border: unset;
        border-radius: 0px 0px 15px 15px;
    }
    
    .editor_atto_toolbar button:active, .editor_atto_toolbar button.highlight, .editor_atto_toolbar button:hover {
        background-image: unset !important;
        background-color: #525050 !important;
    }
    
    .editor_atto_menu .dropdown-menu .atto_menuentry {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .open.atto_menu>.dropdown-menu {
        display: grid;
    }
    
    .editor_atto_menu .dropdown-menu>li>a>div {
        margin:auto;
    }
    
    .editor_atto_menu .dropdown-menu {
        display: grid;
        width: 150px;
        height: 100px;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .editor_atto_toolbar button i::before {
        
        color: #b0b0b0 !important;
    }
    
   .editor_atto_toolbar button {
        background-image: unset;
        background-color: #262525 !important;
        border-color: #615e5e !important;
    }
    
    .editor_atto_notification .atto_info {
        background-color: #222121;
        margin-left: 20px;
    }
    
    /* text field */
    
    .form-control {
        border: 1px solid #999;
    }
    
    .input-group .form-control {
        border: unset;
        border-radius:unset;
    }
    
    .form-control,
    .form-control:focus {
        background-color: transparent !important;
        border-radius: 10px;
        color: #fff
    }
    
    .form-control:focus {
        box-shadow: unset;
        
    }
    
    .input-group-prepend, .input-group-text, .input-group .btn-outline-secondary {
        border: unset;
        
    }
    
    .input-group {
        background-color: #242424;
        border: 1px solid white;
        border-radius: 15px;
    }
    
    #searchform .table td{
        border-top: 1px solid #2c2c2c;
    }

    /* top banner */
    header.fixed-top.brand-banner {
        visibility: visible;
        
        width: 100px;
        z-index: 2000;
        left: 70px;
        height: 50px;
        background: unset;
/*         height: 0%;
/*         background: linear-gradient(to bottom, #313030 0%, #2f2e2e 20%, #2b2a2a 40%, #252525 60%, #222 80%, #212221 100%); */
/*         background: unset;
        background-color: #1f1f1f; */
    }
    
    header.fixed-top.brand-banner .right-logo {
        visibility: hidden;
    }
    
    header.fixed-top.brand-banner .left-logo {
        left: 0px;
        width: 100px;
        height: 30px;
        box-shadow: unset;
        top: 10px;
    }
    
    header.fixed-top.brand-banner .left-logo img {
        visibility: hidden;
    }

    /* title color in "chronology" */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .path-calendar .maincalendar .calendar-controls .current,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: #9faab5;
    }

    /* calendar */
    .calendar_event_course a {
        color: #04d8d2;
    }
    .calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar.calendartable td:nth-child(even).calendar_event_course,
    .block-region .block .minicalendar td:nth-child(even),
    .block-region .block .minicalendar.calendartable td:nth-child(even) {
        background-color: inherit;
    }
    
    .path-calendar .maincalendar .calendarmonth thead {
/*         width: 100%; */
    }
    
    .path-calendar .maincalendar .calendarmonth .weekend {
        
        background: #171717;
    }
    
    .calendarwrapper .header .select.custom-select.cal_courses_flt {
        width: 35%;
        margin-left: 20px;
    }
    
    .calendarwrapper .header {
/*         display: inline-grid; */
/*         display: table; */
/*         width: 100%; */
    }
    
    .calendarwrapper .header .btn.btn-secondary {
        margin-left: 20px;
    }
    
    .path-calendar .maincalendar .calendarmonth {
        border: 1px solid #353535;
    }
    
    .path-calendar .maincalendar .calendarmonth td {
        border: 1px dotted #303030;
    }
    
    .path-calendar .maincalendar .calendarmonth th {
        background-color: #262626;
        color: #fff;
    }

    .block-region .block .minicalendar td,
    .block-region .block .minicalendar.calendartable td {
        border: 1px solid transparent;
    }

    /* back to top arrow */
    #back-to-top a.arrow {
        color: #ccc;
        background: #171717;
    }

    /* block */
    
    #blocks-column {
        height: calc(100vh - 60px)
    }
    
    .block_header {
        border-bottom: unset !important;
        text-align: center;
    }
    
    .block-region .card-body {
        border-radius: 15px;
    }
    
    .block-region .block {
        border: unset;
    }
    .block-region .block .card-body .card-title {
        color: #67f917;
    }
    .block-region .block .card-body .card-title:before {
        color: #a6a5a5;
    }
    .block-region .block .card-body {
        background-color: #201f1f;
        box-shadow: 1px 1px 2px 0 #2b2929;
    }
    
    .block_timeline .list-group-item {
        border-radius: 10px;
        margin-top: 5px;
    }
    
    
    .block_timeline .list-group-item .d-flex{
        padding: 0.5em;
    }
    
    .block_timeline .list-group-item-action {
        color: #d4d3d3;
    }

    /* notifications */
    .navbar .popover-region-container {
        top: 2.5rem;
        box-shadow: 1px 1px #353434;
    }
    
    .popover-region-toggle::before, .popover-region-toggle::after {
        border: unset;
    }
    
    .popover-region-container,
    .popover-region-footer-container {
        background-color: #282727;
        border: unset;
        border-radius: 15px;
        padding: 10px;
    }
    .popover-region .content-item-container {
        
        border: unset;
    }
    .popover-region .content-item-container:hover {
        background-color: #333131;
        border-radius: 10px;
    }
    .content-item-container:hover .content-item-footer .timestamp,
    .content-item-container .content-item-footer .timestamp,
    .content-item-container .content-item-footer .timestamp:hover {
        color: #e3d7d7;
    }
    .popover-region-header-container {
        border: unset;   
    }
    .content-item-container.unread {
        background-color: #4e4e4f;
    }
    .content-item-container.unread:hover {
        background-color: #4e4e4f;
    }
    .popover-region .notification-message {
        color: #1edcdd;
    }
    .popover-region .notification-message:hover {
        color: #52ae52;
    }
    .content-item-container.unread a {
        color: #22c4c6;
    }

    /* icons */
    #blocks-column-toggle:before,
    .fa-plus:before {
        color: #dbd9d9
    }
    *:before {
        color: #8e8d8d
    }



    /* Button on dashboard */
    
    .btn-primary:hover, .btn-primary:focus {
        background-color: #186f70;
    }
    
    .btn-outline-secondary:hover,
    .btn-outline-secondary:focus {
        background-color: #484848;
    }
    .show > .btn-outline-secondary.dropdown-toggle {
        background-color: #424040;
        color: #cac7c7;
        box-shadow: unset;
        
    }
    
    /* buttons */

    .btn {
        border-radius: 10px;
    }
    
    .btn-outline-secondary {
        border: 1px solid #666;
    }
    
    /* dropdown menus */
    .dropdown-menu .dropdown-item:focus {
        background-color: #313130;
        color: #bfbfbf;
    }
    .dropdown-menu .dropdown-item {
        color: #bfbfbf;
    }
    .dropdown-menu .dropdown-item.active {
        background-color: #1e4042;
        color: #e3e2e2;
    }
    .dropdown-menu .dropdown-item:hover {
        background-color: #333;
        color: #fff;
    }
    .dropdown-menu {
        background-color: #222121;
        border-radius: 10px;
        border-color: #606060;
    }

    /* Fix weird white flash when the page is loading */
    .bg-pulse-grey {
        animation: unset;
        background-color: #201f1f;
    }
    
    /* modal */
    .modal-content {
        border-radius: 15px;
    }
    
    .modal-header {
        border-bottom: 1px solid #4a4848;
    }
    
    .modal-footer {
        border-top: 1px solid #4a4848;
    }
    
    .modal-title{
        color: #f2ebeb;
    }
    
    .modal-body .list-group-item:hover{
        color: #e5e5e5;
    }
    
    .modal-body .list-group-item {
        color: #fff;
        background-color: #2e2e2e;
        margin-top: 5px;
        border-radius: 7px;
    }
    

    /* ================= */
    /* courses overview */
    /* course list */
    .text-muted,
    .resourcelinkdetails {
        color: #b3b3af !important;
    }
    .block-region .block.block_myoverview [data-region="course-content"] a.coursename {
        color: #00fff7;
    }
    .courses .coursebox.even {
        background-color: #242424;
        border-radius:5px;
    }
    .course-content ul li.section.main {
        border-bottom: 1px solid #444;
    }

    /* ================= */
    /* home */
    /* popover when mouse hover calendar */
    .bs-popover-top .arrow::after {
        border-top-color: #333;
    }
    .popover,
    .popover-header,
    .popover-body {
        background-color: #333;
        color: #fff;
    }

    /* ================== */
    /* /user/profile.php */
    /* user profile frames */
    #page-enrol-users #filterform,
    .que .history,
    .userprofile .profile_tree section,
    .groupinfobox,
    .well,
    .path-calendar .maincalendar .calendar-event-panel {
        background-color: #393737;
        border-color: #444343;
    }

    /* ================== */
    /* homework submission page */
    /* "remis pour evaluation" color */
    .path-mod-assign td.submissionstatussubmitted,
    .path-mod-assign div.submissionstatussubmitted,
    .path-mod-assign a:link.submissionstatussubmitted {
        background-color: #1e6a36;
        color: #e8e5e5;
    }

    /* alternate fields */
    .path-mod-assign td.submissionnotgraded,
    .path-mod-assign div.submissionnotgraded,
    .path-mod-assign td.earlysubmission,
    .path-mod-assign div.earlysubmission {
        background-color: #3f403f;
        color: #e8e5e5;
    }

    /** ==================== */
    
    /* warning */
    .flashbox {
        background: #222
    }
    
    .flashbox.warning {
        border: 2px solid #d84d4d;
    }

    /* ================== */
    /* messaging app */
    /* received message bubble */
    
    .message-app.drawer {
        height: calc(100vh - 60px);
    }
    
    .message-app.drawer .footer-container .border-top{
        border-top: unset !important;
    }
    
    .message-app .header-container {
        background-color: #242424;
    }
    
    .card-header {
        background-color: #1f1f1f;
        border-color: #4e4d4d;
    }
    
    .message-app.drawer .message.received {
        background-color: #262525 !important;
    }
    
    .message-app.drawer .message.received .tail {
        border-bottom-color: #262525;
    }
    
    .message-app .footer-container {
        background-color: #222;
    }
    
    
    .message-app .footer-container textarea {
        border: unset;
        border-radius: 15px;
    }

    /* sent message bubble */
    .message-app.drawer .message.send .tail {

        border-bottom-color: #3b3a3a;
    }
    .bg-secondary {
        background-color: #3b3a3a !important;
    }


    /* background color */
    .bg-light {
        background-color: #191919 !important;
    }
    .border-bottom {
        border-bottom: 1px solid transparent !important;
    }
    .message-app .text-center {
        background-color: inherit;
    }
    .bg-white {
        background-color: inherit !important;
    }

    /* nav drawer */
    div::-webkit-scrollbar-thumb, section::-webkit-scrollbar-thumb, div::-webkit-scrollbar-track, section::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    
    #nav-drawer .list-group a.list-group-item.active {
        background-color: #1e4a51;
        border: 1px solid #1e4a51;
        border-radius: 15px;
    }
    .navbar-receptic [data-region="drawer-toggle"] .btn-secondary {

        background-color: #282828;
        border-color: #5d5d5d;
    }
    .navbar-receptic a.dropdown-item {
        color: #d2d4d7;
    }
    .navbar-receptic a.dropdown-item:hover, .navbar-receptic a.dropdown-item:focus:hover {
        background-color: #424040;
        color: #fff;
    }
    .navbar-receptic a.dropdown-item:focus {
        background-color: unset;
        color: #d2d4d7;
    }
    .navbar-receptic {
        top: 0;
        background: unset;
        background-color: #242424;
        box-shadow: 0px 1px #2e2c2c;
    }
    body.shrinkablenavdrawer #nav-drawer.closed{
        background-color: #212020;
    }
    #nav-drawer {
        user-select: none;
        background-color: #212020;
        border-radius: 15px;
        height: calc(100vh - 70px);
        box-shadow: 1px 1px #242323;
    }
    #nav-drawer .list-group div.list-group-item,
    #nav-drawer .list-group a.list-group-item {
        box-shadow: unset;
        background-color: #212020;
        border: 1px solid transparent;
        color: #c5c6c8;
    }
    #nav-drawer .list-group div.list-group-item:hover,
    #nav-drawer .list-group a.list-group-item:hover {
        border: 1px solid transparent;;
        border-radius: 10px;
        background-color: #333030;
    }
    .que .outcome {
        background-color: #232323;
        color: #5fd0c6;
    }


    /* =========== */
    /* evaluations */
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
        background-color:#262525;
        color: #fff;
        border-color:#827f7f;
    }
    .nav-tabs{
        border-bottom: 1px solid #827f7f;
    }
    
    /* =========== */
    /* quiz */
    .modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content{
        background-color: #262525;
    }
    .moodle-dialogue-base .closebutton::after, .user-enroller-panel .uep-header .close:after, .user-enroller-panel .uep-header .moodle-dialogue-base .closebutton:after, .moodle-dialogue-base .user-enroller-panel .uep-header .closebutton:after{
        color: #47a4b9;
    }
    #page-mod-quiz-view table.quizattemptsummary tr.bestrow td{
        background-color: #1f1f1f;
    }
    .moodle-dialogue-base .moodle-dialogue-lightbox{
        background-color:#272727;
    }
    .path-mod-quiz #mod_quiz_navblock .qnbutton .thispageholder {
        border: unset;
    }
    .path-mod-quiz #mod_quiz_navblock span.qnbutton{
        background-color: #2d2d2d;
    }
    .path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight, .path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight{
        background-color: #7b7a7a;
    }
    
    #page-mod-quiz-attempt .que,
    #page-mod-quiz-review .que,
    #page-question-preview .que {
        background-color: rgb(27, 27, 27);
    }
    .que .info {
        background-color: #2a2a2a;
    }
    .custom-select:disabled {
        background-color: #2a2a2a;
        color: #c7c4c4;
        border-color: rgba(106, 106, 106, .19);
    }
    .que .formulation {

        color: #b1b1b1;
    }
    .table th,
    table.collection th,
    table.flexible th,
    .generaltable th,
    .table td,
    table.collection td,
    table.flexible td,
    .generaltable td {
        border-color: #464646;
    }
    table.quizreviewsummary,
    table.quizreviewsummary th.cell,
    table.quizreviewsummary td.cell {
        background-color: #1e1d1d;
    }

    /* =========== */
    
    /* Upload */
    
    .filepicker-filelist .dndupload-target, .filemanager-container .dndupload-target, .filepicker-filelist.dndupload-over .dndupload-target, .filemanager-container.dndupload-over .dndupload-target {
        background-color: #222;
    }
    
    
   
    
    .fp-upload-form, .fp-iconview, .fp-filename-field, 
    .fp-filename .text-truncate, .fp-iconview .fp-filename-field .fp-filename, 
    .fp-content .card, .file-picker .fp-content  {
        background-color: #1e1d1d !important;
    }

    .fp-thumbnail, .fp-reficons1, .fp-reficons2 {
        border: unset !important;
    }
    
    .custom-select {
        width: 100%;
        background-color: #2a2a2a;
        background: #2a2a2a url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23c7c4c4\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E") no-repeat right .75rem center;
        -webkit-background-size: 8px 10px;
        background-size: 8px 10px;
        border-radius: 5px;
        color: #fff;
    }
    
    .custom-select option {
        background-color: #242424;
    }
    
    .custom-select option:hover{
        background-color:#292929
    }
    
    button.close span, .moodle-dialogue-base button.closebutton span {
        color: #fff;
    }
    
    button.close, .moodle-dialogue-base button.closebutton {
        background-color: transparent !important;
        opacity: 1;
    }
    
    .close, .moodle-dialogue-base .closebutton {
        text-shadow: unset;
    }
    
/*     .fp-toolbar .btn-secondary, .fp-toolbar .btn-default, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .atto_generico_buttons button, .fp-toolbar .wikisearch form input, .wikisearch form .fp-toolbar input, .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-toolbar #id_advancedadddiscussion, .fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"], .fp-viewbar .btn-secondary, .fp-viewbar .btn-default, .fp-viewbar .atto_generico_buttons button, .atto_generico_buttons .fp-viewbar button, .fp-viewbar .wikisearch form input, .wikisearch form .fp-viewbar input, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion, #page-mod-forum-view .fp-viewbar #id_advancedadddiscussion, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"], #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] {
    background-color: #4e4a4a;
    border: 1px solid #1e1d1d;
    
}
    
    .fptoolbar .btn-secondary ::before,  .fp-toolbar .btn-default ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .atto_generico_buttons button ::before, .fp-toolbar .wikisearch form input ::before, .wikisearch form .fp-toolbar input ::before,  .fp-toolbar #page-mod-forum-view #id_advancedadddiscussion ::before,#page-mod-forum-view .fp-toolbar #id_advancedadddiscussion::before, fp-toolbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-toolbar button[data-action="forum-advanced-reply"] ::before, .fp-viewbar .btn-secondary ::before,.fp-viewbar .btn-default ::before,  .fp-viewbar .atto_generico_buttons button ::before, .fp-viewbar .wikisearch form input ::before, .wikisearch form .fp-viewbar input ::before, .fp-viewbar #page-mod-forum-view #id_advancedadddiscussion ::before, .fp-viewbar #page-mod-forum-discuss button[data-action="forum-advanced-reply"] ::before, #page-mod-forum-discuss .fp-viewbar button[data-action="forum-advanced-reply"] ::before, i .icon .fa .fa-refresh .fa-fw ::before   {
        color: #f2e4e4 !important ;
    } */
    
    /* peer review */
    
    .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.submissiongrade, .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
        background-color:#353737;
        border: 1px solid #6e6e6e;
    }
    
    .path-mod-workshop .userplan {
        border-radius: 15px;
        border-color: #686868;
    }
    
    .path-mod-workshop .userplan dt div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:100%;
        align-items: center;
    }
    
    .path-mod-workshop .submission-summary .userdate {
        color: #aca9a9;
    }
    
    .path-mod-workshop .userplan dt .actions {
        display: inline;
    }
    
    .path-mod-workshop .userplan dt {
        background-color: #1b1b1b;
        text-align: center;
        vertical-align: middle !important;
        border-color: #686868;
    }
    
    .path-mod-workshop .userplan .nonactive.phasetasks {
        background-color: #0c0c0c;
        border-color: #686868;
    }
    .path-mod-workshop .userplan dt.active {
        
        background-color: #346c2a;
        color: #fff;
    }
    
    .path-mod-workshop .userplan dd.active  {
        background-color: #2a5b21;
        color: #fff;
    }
    
    /* assessement */
    
    .path-mod-workshop .assessment-full {
        background-color: #201f1f;
        border-radius: 13px;
        border: 1px solid #7d7575;
    }
    
    .path-mod-workshop .assessment-full .header {
        background-color: #201f1f;
        border-radius: 13px;
    }
    
    .path-mod-workshop .assessment-full .header .userdate{
        color: #fff
    }
    
    /* submission */
    .path-mod-workshop .submission-full {
       
        background-color: #201f1f;
        border-radius: 13px;
        border: 1px solid #7d7575;
    }
    
    .path-mod-workshop .submission-full .header {
         
        background-color: #201f1f;
        border-radius: 13px;
    }
    
    .path-mod-workshop .submission-full .header .userdate{
        color: #fff
    }
    
    
    /* other things I don't remember */
    .switch input + label::before {
        background-color: #776a6a;
    }

    .overlay-icon-container {
        background-color: #201f1f;
    }
    .list-group-item:hover {
        background-color: #353535;
        color: #737373;
    }
    .fa-user-plus:before {
        color: #fff;
    }
    li.page-item .page-link,
    li.page-item.disabled .page-link {
        background-color: #3c3939;
        border-color: #626262;
    }
        
    /* ========== */
    /* login page */
    
    #page-login-index .input-group .input-group-text {
        background-color: #393939;
        border-radius: 15px 0px 0px 15px;;
        width: 36px;
        text-align: center;
    }
    
    #page-login-index .input-group .input-group-text ::before {
        
        color: white;
    }
    
    #page-login-index .loginpanelbg{
        background-color: #1f1e1e;
    }
    #page-login-index  #accordion .card-header{
        background-color: unset;
    }
    
    #page-login-index .card {
        border-radius: 15px;
        background-color: #171717;
    }
    
    #page-login-index .input-group-addon{
        background-color: #2d2b2b;
    }
    #page-login-index .glyphicon-log-in:before{
        color: #fff !important;
    }
    #page-login-index .btn-success{
        color: #fff  !important;;
        background-image: unset;
        background-color: #3c7919;
        border-color: transparent;
    }
    #page-login-index div#wrap{
        background-image: unset;
        background-color: #070707;
    } 
}

@-moz-document domain("medias.unamur.be") {
    
    /* video player */
    #player_block .player-mask {
        cursor: pointer;
    }
    
    #header {
        background-color: #333;
        color: #717171;
    }
    
    #container {
        background-color: #1c1c1c;
        color: #ececec;
    }
    
    #player_block .player-seekbar-container {
        left: 0.3em;
        right: 0.3em;
    }
    
    .button {
        color: #e5e5e5;
    }
    
    #global .main-title {
        
        background-color: #1c1c1c;
        color: #ececec;
    }
    
    #player_block .player-seekbar-left, #player_block .player-seekbar-right {
        visibility: hidden;
    }
    
    body {
        background-color: #171717;
        color: #fff;
    }
    
    #player_block .player-controls .player-ctrl-menu-container {
        background: #000000e3;
        border-radius: 15px 15px 0px 0px ;
    }
    
    #player_block.player-controls-hover .player-controls {
        user-select: none;
    }
    
    
    #player_block .player-mask div {
        visibility: hidden !important;
    }
    
}
