/* ==UserStyle==
@name           Moodle Dark Theme
@namespace      github.com/martin-danhier
@version        0.6.0
@description    Dark theme for Moodle
@author         Martin Danhier & Yannis Fraselle
@updateURL      https://raw.githubusercontent.com/martin-danhier/webcampus-dark-theme/master/dark_webcampus.user.css
==/UserStyle== */
/* 



----> See repository for source SASS. <----



*/
@-moz-document url-prefix("https://moodle.uclouvain.be/") {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
  body, #page-my-index {
    background-color: #121212;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 100;
  }

  a, .block .block-cards a.coursename {
    color: #03dac6;
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  .text-muted {
    font-weight: 400;
    color: inherit;
  }

  .card, #region-main {
    color: #ffffff;
    background-color: #1e1e1e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 0.5rem;
  }

  .dashboard-card {
    color: #ffffff;
    background-color: #242424;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .card-footer {
    background-color: inherit !important;
  }

  .navbar {
    color: #ffffff;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .navbar-fhs .navbar-nav .nav-link, span.userbutton {
    color: inherit;
  }

  .navbar .btn-secondary {
    color: inherit;
    background-color: inherit;
    border: none;
  }

  .btn, .btn-secondary, .btn-secondary:not(:disabled):not(.disabled) {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    perspective: 1px;
    position: relative;
    box-shadow: none;
    border: 1px solid #bb86fc !important;
  }
  .btn, .btn:active, .btn:focus, .btn:active:focus, .btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary:not(:disabled):not(.disabled), .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
    outline: unset;
    background-color: inherit;
    color: #bb86fc;
  }
  .btn:after:hover, .btn-secondary:after:hover, .btn-secondary:not(:disabled):not(.disabled):after:hover {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-color: white 10%;
  }
  .btn:before, .btn-secondary:before, .btn-secondary:not(:disabled):not(.disabled):before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-image: radial-gradient(circle, white 1%, transparent 1%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15000%;
    opacity: 0.01;
    transition: background 0.7s, opacity 1s;
    z-index: -1;
  }
  .btn:active:before, .btn:focus:before, .btn-secondary:active:before, .btn-secondary:focus:before, .btn-secondary:not(:disabled):not(.disabled):active:before, .btn-secondary:not(:disabled):not(.disabled):focus:before {
    animation-name: ripple;
    animation-duration: 0.6s;
    opacity: 0.4;
    transition: 0s !important;
  }
  @keyframes ripple {
    from {
      background-size: 1%;
    }
    to {
      background-size: 15000%;
    }
  }

  .pagelayout-mydashboard #region-main {
    color: #ffffff;
    background-color: #121212;
    box-shadow: none !important;
  }

  .list-group-item {
    background-color: inherit;
  }
}
