@charset "UTF-8";
/* ==UserStyle==
@name           Moodle Dark Theme
@namespace      github.com/martin-danhier
@version        0.6.0
@description    Dark theme for Moodle
@author         Martin Danhier & Yannis Fraselle
@updateURL      https://raw.githubusercontent.com/martin-danhier/webcampus-dark-theme/master/dark_webcampus.user.css
==/UserStyle== */
/*



----> See repository for source SASS. <----



*/
@-moz-document url-prefix("https://moodle.uclouvain.be/"), url-prefix("https://webcampus.unamur.be/") {
  /* Global imports */
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
}
@-moz-document url-prefix("https://webcampus.unamur.be/") {
  /* Webcampus specific style */
  ul.navbar-nav.d-none.d-md-flex::after {
    content: "Webcampus";
    font-size: 18px;
    font-size: 1.171875rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 400;
    pointer-events: none;
  }
  ul.navbar-nav.d-none.d-md-flex::after:hover {
    text-decoration: underline;
  }

  header.fixed-top.brand-banner {
    background: unset;
    z-index: 2000;
    height: 50px;
    left: 4.25rem;
    width: 6.4rem;
  }
  header.fixed-top.brand-banner .right-logo {
    visibility: hidden;
  }
  header.fixed-top.brand-banner .left-logo {
    display: block;
    position: static;
    height: inherit;
    box-shadow: unset;
  }
  header.fixed-top.brand-banner .left-logo img {
    visibility: hidden;
  }

  #blocks-column-toggle {
    top: 0px;
    margin-top: 75px;
  }

  #page,
#nav-drawer,
#blocks-column,
.message-app.drawer {
    top: 0px;
    margin-top: 60px !important;
  }

  .navbar-receptic {
    top: 0;
    background: unset;
  }

  .block-myoverview div[data-region=courses-view] ul.list-group {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.25rem;
    margin-left: -0.25rem;
  }
  .block-myoverview div[data-region=courses-view] ul.list-group .card.dashboard-card {
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(33.33% - 0.5rem);
  }
}
@-moz-document url-prefix("https://moodle.uclouvain.be/"), url-prefix("https://webcampus.unamur.be/") {
  /* Global changes */
  /* ----- Root ----- */
  body,
#page-my-index {
    background-color: #121212;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 200;
  }

  /* ----- Fixes to remove unwanted behavior originating from the default theme ----- */
  .pagelayout-mydashboard #region-main {
    color: #ffffff;
    background-color: #121212;
    box-shadow: none !important;
  }

  .list-group-item {
    background-color: inherit;
  }

  h3.sectionname {
    background-color: inherit;
    border: none;
  }

  .section li.activity:hover {
    background-color: inherit;
  }

  .invisiblefieldset {
    width: 100%;
  }

  /** ----- Global changes for icons ----- */
  .ygtvcell .icon,
.block_calendar_upcoming .event .icon,
.block_completion_progress .progressBarCell .nowicon {
    height: 16px !important;
    vertical-align: middle;
    width: 0px !important;
    padding-right: 16px !important;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
    background-size: contain;
  }

  img.icon.smallicon,
.content-item-container .notification-image img,
.notification-area .image-container img {
    height: 20px !important;
    width: 0px !important;
    padding-right: 20px !important;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
  }

  img.activityicon,
#page-mod-folder-view .fp-icon .icon,
.block_completion_progress .progressEventInfo img,
.icon-size-4 .icon {
    height: 24px !important;
    width: 0px !important;
    padding-right: 24px !important;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
  }

  /** Individual changes for icons.
  -> each time, an icon is matched by the url of its image. The value is then replaced to another image.
  */
  /* URL */
  img[src*="/theme/image.php/"][src*="/url/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:link-variant.svg?height=24");
  }

  /* Forum / Annonce */
  img[src*="/theme/image.php/"][src*="/mod_forum/"][src$="/icon"],
img[src*="/theme/image.php/"][src*="/forum/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-forum.svg?height=24");
  }

  /* Workshop / Peer review */
  img[src*="/theme/image.php/"][src*="/workshop/"][src$="/icon"],
img[src*="/theme/image.php/"][src*="/feedback/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/uil:feedback.svg?height=24");
  }

  /* Quiz */
  img[src*="/theme/image.php/"][src*="/quiz/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ant-design:form-outlined.svg?height=24");
  }

  /* PDF */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/pdf"],
img[src*="/theme/image.php/"][src*="/core/"][src$="/f/pdf-24"],
img[src*="/theme/image.php/"][src*="/amanote/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-pdf.svg?height=25");
  }

  /* Vidéo */
  img[src*="/theme/image.php/"][src*="/ubicast/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/mpeg-24"],
img[src*="/theme/image.php/"][src*="/core/"][src$="/f/mpeg"] {
    background-image: url("https://api.iconify.design/carbon:play-filled.svg?height=24");
  }

  /* Zip */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/archive-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/archive"] {
    background-image: url("https://api.iconify.design/clarity:file-zip-solid.svg?height=24");
  }

  /* Link to webcampus */
  img[src*="/theme/image.php/"][src*="/page/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bx:bxs-note.svg?height=24");
  }

  /* Source code */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/sourcecode-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/markup-24"],
img[src*="/theme/image.php/"][src*="/core/"][src$="/f/sourcecode"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/markup"] {
    background-image: url("https://api.iconify.design/mdi:file-code.svg?height=54");
  }

  /* Tiff */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/tiff"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/tiff-24"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-png.svg?height=25");
  }

  /* Png */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/png"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/png-24"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-png.svg?height=25");
  }

  /* Jpg */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/jpeg-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/jpeg"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-jpg.svg?height=25");
  }

  /* Word */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/document-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/document"] {
    background-image: url("https://api.iconify.design/mdi:file-word.svg?height=25");
  }

  /* Powerpoint */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/powerpoint-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/powerpoint"] {
    background-image: url("https://api.iconify.design/mdi:file-powerpoint.svg?height=25");
  }

  /* Excel */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/spreadsheet-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/spreadsheet"] {
    background-image: url("https://api.iconify.design/mdi:file-excel.svg?height=25");
  }

  /* Wiki */
  img[src*="/theme/image.php/"][src*="/wiki/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/carbon:wikis.svg?height=25");
  }

  /* Devoir (upload) */
  img[src*="/theme/image.php/"][src*="/assign/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/mod_assign/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-file-upload.svg?height=24");
  }

  /* Folder */
  img[src*="/theme/image.php/"][src*="/folder/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-folder.svg?height=24");
  }

  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/folder-24"] {
    background-image: url("https://api.iconify.design/ant-design:folder-open-filled.svg");
  }

  /* Scheduler */
  img[src*="/theme/image.php/"][src*="/scheduler/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:calendar-clock.svg?height=24");
  }

  /* Question (choice) */
  img[src*="/theme/image.php/"][src*="/choice/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:comment-question.svg?height=24");
  }

  /* Glossary */
  img[src*="/theme/image.php/"][src*="/glossary/"][src$="/icon"] {
    background-image: url(" https://api.iconify.design/bx:bx-sort-a-z.svg?height=24");
  }

  /* Certificate */
  img[src*="/theme/image.php/"][src*="/customcert/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:certificate.svg?height=24");
  }

  /* Wooclap */
  img[src*="/theme/image.php/"][src*="/wooclap/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ls:w.svg?height=24&inline=true");
  }

  /* Choose a group */
  img[src*="/theme/image.php/"][src*="/choicegroup/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bi:people-fill.svg?height=24");
  }

  /* Generic text file */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/text-24"] {
    background-image: url("https://api.iconify.design/eva:file-fill.svg?height=25");
  }

  /* Chat */
  img.activityicon[src*="/theme/image.php/"][src*="/chat/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bi:chat-dots-fill.svg?height=24");
  }

  /* Amanote thingy at the right */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/folder"] {
    background-image: url("https://api.iconify.design/ic:round-folder.svg?height=16");
    filter: invert(100%);
  }

  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/archive"] {
    background-image: url("https://api.iconify.design/eva:file-fill.svg?height=16");
    filter: invert(100%);
  }

  /* text info block */
  img[src*="/theme/image.php/"][src*="/label/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/fe:text-align-left.svg?height=24");
  }

  /* Not terminated */
  img[src*="/theme/image.php/"][src*="/block_completion_progress/"][src$="/cross"] {
    background-image: url("https://api.iconify.design/emojione-monotone:cross-mark.svg?height=12");
    height: 12px !important;
    width: 12px !important;
    vertical-align: -0.125em;
    filter: invert(55%) sepia(12%) saturate(2496%) hue-rotate(315deg) brightness(99%) contrast(89%) !important;
  }

  /* Done */
  img[src*="/theme/image.php/"][src*="/block_completion_progress/"][src$="/tick"] {
    background-image: url("https://api.iconify.design/fa-solid:check.svg?height=12");
    vertical-align: -0.125em;
    height: 12px !important;
    width: 12px !important;
    filter: invert(85%) sepia(24%) saturate(888%) hue-rotate(64deg) brightness(88%) contrast(85%) !important;
  }

  /* Data */
  img[src*="/theme/image.php/"][src*="/data/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi/database.svg?height=24");
  }

  /* Now */
  img[src*="/theme/image.php/"][src*="/block_completion_progress/"][src$="/right"] {
    background-image: url("https://api.iconify.design/bi/caret-down-fill.svg");
  }

  .text-info {
    color: #03dac6 !important;
  }

  /* ----- Texts ----- */
  label {
    color: #c6c6c6;
    font-weight: 300;
  }

  a,
.block .block-cards a.coursename {
    color: #03dac6;
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  .text-muted {
    font-weight: 400;
    color: #959595 !important;
  }

  .resourcelinkdetails {
    color: #959595;
    font-weight: 300;
  }

  .navbar-fhs .navbar-brand,
.navbar-fhs .navbar-brand:hover {
    color: #ffffff;
  }

  /* ----- Cards ----- */
  .card,
#region-main {
    color: #ffffff;
    background-color: #1e1e1e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 0.5rem;
  }

  .card-footer {
    background-color: inherit !important;
    border-radius: inherit;
  }

  .dashboard-card,
.course-listitem.list-group-item,
.block .block-cards .course-summaryitem {
    color: #ffffff;
    background-color: #242424;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 0.5rem;
  }

  .block .block-cards .course-summaryitem {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .block .block-cards .course-summaryitem a {
    margin: 5px;
    margin-right: 10px;
  }
  .block .block-cards .course-summaryitem a .summaryimage {
    border-radius: 50% !important;
  }

  .block_myoverview .container-fluid {
    margin-top: 20px;
  }

  .block_myoverview [data-region=courses-view] .list-group .list-group-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* ----- Input ----- */
  form .form-inline input[type=text],
#coursesearch .coursesearchbox input[type=text],
form.form-inline input[type=text] {
    background-color: #424242;
    color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    padding: 16px 6px;
    height: 42px;
    border: none;
    border-bottom: 1px solid;
    caret-color: #bb86fc;
    border-bottom-color: rgba(255, 255, 255, 0.42);
    will-change: border-color, background-color, border-width;
    transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-width 0.2s ease-in-out !important;
  }
  form .form-inline input[type=text]:hover,
#coursesearch .coursesearchbox input[type=text]:hover,
form.form-inline input[type=text]:hover {
    background-color: #373737;
    border-bottom-color: rgba(255, 255, 255, 0.87);
  }
  form .form-inline input[type=text]:focus, form .form-inline input[type=text]:focus-visible,
#coursesearch .coursesearchbox input[type=text]:focus,
#coursesearch .coursesearchbox input[type=text]:focus-visible,
form.form-inline input[type=text]:focus,
form.form-inline input[type=text]:focus-visible {
    color: inherit;
    background-color: #2c2c2c;
    outline: none;
    box-shadow: none;
    border-bottom-color: #bb86fc;
    border-width: 2px;
    transition: none;
  }
  form .form-inline input[type=text]:disabled, form .form-inline input[type=text]:read-only,
#coursesearch .coursesearchbox input[type=text]:disabled,
#coursesearch .coursesearchbox input[type=text]:read-only,
form.form-inline input[type=text]:disabled,
form.form-inline input[type=text]:read-only {
    background-color: #242424;
    color: #7c7c7c;
    border-bottom-color: #7c7c7c;
    transition: none !important;
  }
  form .form-inline input[type=text]:disabled:hover, form .form-inline input[type=text]:read-only:hover,
#coursesearch .coursesearchbox input[type=text]:disabled:hover,
#coursesearch .coursesearchbox input[type=text]:read-only:hover,
form.form-inline input[type=text]:disabled:hover,
form.form-inline input[type=text]:read-only:hover {
    border-bottom-color: inherit;
  }

  #coursesearch .coursesearchbox {
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    display: inline-flex;
  }
  #coursesearch .coursesearchbox input {
    min-width: 30%;
  }

  .input-group {
    gap: 10px;
  }

  a.btn.btn-link {
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  button.btn.btn-secondary[type=submit] {
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    min-width: 64px;
    padding: 0px 16px;
    min-height: 36px;
    user-select: none;
    vertical-align: middle;
    perspective: 1px;
    position: relative;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.7s;
  }
  button.btn.btn-secondary[type=submit], button.btn.btn-secondary[type=submit]:active, button.btn.btn-secondary[type=submit]:focus, button.btn.btn-secondary[type=submit]:active:focus {
    outline: unset;
    background-color: #bb86fc;
    color: #000000;
  }
  button.btn.btn-secondary[type=submit] i, button.btn.btn-secondary[type=submit].fa {
    margin-right: 8px;
  }
  button.btn.btn-secondary[type=submit]:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-image: radial-gradient(circle, white 1%, transparent 1%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15000%;
    opacity: 0;
    transition: background 0.7s, opacity 1s;
    z-index: -1;
  }
  button.btn.btn-secondary[type=submit]:active:before, button.btn.btn-secondary[type=submit]:focus:before {
    animation-name: ripple;
    animation-duration: 0.6s;
    opacity: 0.4;
    transition: 0s !important;
  }
  @keyframes ripple {
    from {
      background-size: 1%;
    }
    to {
      background-size: 15000%;
    }
  }
  button.btn.btn-secondary[type=submit]:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.6s;
    background-color: #c18fff;
  }
  button.btn.btn-secondary[type=submit]:focus, button.btn.btn-secondary[type=submit]:active {
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.6s;
  }

  .dropdown .dropdown-toggle.btn,
.btn-group[data-region=view-selector] .dropdown-toggle.btn {
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    min-width: 64px;
    padding: 0px 16px;
    min-height: 36px;
    user-select: none;
    vertical-align: middle;
    box-shadow: none;
    border: 1px solid #ffffff !important;
  }
  .dropdown .dropdown-toggle.btn, .dropdown .dropdown-toggle.btn:active, .dropdown .dropdown-toggle.btn:focus, .dropdown .dropdown-toggle.btn:active:focus,
.btn-group[data-region=view-selector] .dropdown-toggle.btn,
.btn-group[data-region=view-selector] .dropdown-toggle.btn:active,
.btn-group[data-region=view-selector] .dropdown-toggle.btn:focus,
.btn-group[data-region=view-selector] .dropdown-toggle.btn:active:focus {
    outline: unset;
    background-color: inherit;
    color: #ffffff;
  }
  .dropdown .dropdown-toggle.btn i, .dropdown .dropdown-toggle.btn.fa,
.btn-group[data-region=view-selector] .dropdown-toggle.btn i,
.btn-group[data-region=view-selector] .dropdown-toggle.btn.fa {
    margin-right: 8px;
  }
  .dropdown .dropdown-toggle.btn:active:focus,
.btn-group[data-region=view-selector] .dropdown-toggle.btn:active:focus {
    outline: none;
    box-shadow: none;
  }
  .dropdown .dropdown-toggle.btn:hover,
.btn-group[data-region=view-selector] .dropdown-toggle.btn:hover {
    background-color: #373737;
  }
  .dropdown .dropdown-menu,
.btn-group[data-region=view-selector] .dropdown-menu {
    color: #ffffff;
    background-color: #323232;
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2) !important;
    color: #ffffff;
    list-style: none;
    border-radius: 0.5rem;
  }
  .dropdown .dropdown-menu .dropdown-item,
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-item {
    color: inherit;
    list-style: none;
    background-color: inherit;
    padding: 10px 15px;
  }
  .dropdown .dropdown-menu .dropdown-item:before,
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .dropdown .dropdown-menu .dropdown-item[aria-current=true],
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-item[aria-current=true] {
    background-color: #404040;
  }
  .dropdown .dropdown-menu .dropdown-item:hover,
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-item:hover {
    background-color: #424242;
  }
  .dropdown .dropdown-menu .dropdown-header,
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-header {
    color: #959595;
    padding: 5px 10px;
    text-align: center;
  }
  .dropdown .dropdown-menu .dropdown-divider,
.btn-group[data-region=view-selector] .dropdown-menu .dropdown-divider {
    border-color: #121212;
    margin: 0;
  }

  .pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .pagination .page-item:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .pagination .page-item.disabled .page-link {
    color: #7c7c7c;
    border-color: #7c7c7c;
  }
  .pagination .page-item .page-link {
    border-radius: 0;
    background-color: inherit;
    color: inherit;
    box-shadow: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination .page-item .page-link .icon {
    text-align: center;
    vertical-align: middle;
  }
  .pagination .page-item .page-link:hover {
    background-color: #373737;
  }

  /* ----- Navbar ----- */
  .navbar.navbar-fhs {
    color: #ffffff;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    color: #ffffff;
  }
  .navbar.navbar-fhs .btn-secondary[data-action=toggle-drawer] {
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0.5rem;
  }
  .navbar.navbar-fhs .btn-secondary[data-action=toggle-drawer]:focus, .navbar.navbar-fhs .btn-secondary[data-action=toggle-drawer]:active:focus, .navbar.navbar-fhs .btn-secondary[data-action=toggle-drawer]:active {
    outline: none;
    box-shadow: none;
    color: inherit;
  }
  .navbar.navbar-fhs .btn-secondary[data-action=toggle-drawer]:hover {
    background-color: #373737;
  }
  .navbar.navbar-fhs .navbar-nav .nav-link {
    color: inherit;
    border-radius: 0.5rem;
  }
  .navbar.navbar-fhs .navbar-nav .nav-link:hover {
    background-color: #373737;
  }
  .navbar.navbar-fhs .navbar-nav .popover-region-notifications .nav-link,
.navbar.navbar-fhs .navbar-nav [data-region=popover-region-messages] .nav-link {
    width: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .navbar.navbar-fhs .navbar-nav .popover-region-notifications .nav-link .icon,
.navbar.navbar-fhs .navbar-nav [data-region=popover-region-messages] .nav-link .icon {
    margin-right: 0;
    text-align: center;
  }
  .navbar.navbar-fhs .navbar-nav .popover-region-notifications .nav-link .count-container,
.navbar.navbar-fhs .navbar-nav [data-region=popover-region-messages] .nav-link .count-container {
    right: 7px;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu {
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 0.5rem;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu .usertext {
    color: #ffffff;
    padding: 0 10px;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu .caret {
    color: #ffffff;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu .userpicture {
    margin-right: 5px;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu:hover {
    background-color: #373737;
  }
  .navbar.navbar-fhs .navbar-nav .usermenu .caret:after {
    margin-right: 2px;
  }

  /* ----- Drawer ----- */
  [data-region=drawer] {
    color: #ffffff;
    background-color: #1e1e1e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    padding: 0;
    width: 250px;
  }
  [data-region=drawer] .list-group {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  [data-region=drawer] .list-group .list-group-item {
    background-color: inherit;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    perspective: 1px;
    position: relative;
  }
  [data-region=drawer] .list-group .list-group-item:hover {
    background-color: #373737;
  }
  [data-region=drawer] .list-group .list-group-item:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-image: radial-gradient(circle, white 1%, transparent 1%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15000%;
    opacity: 0;
    transition: background 0.7s, opacity 1s;
    z-index: -1;
  }
  [data-region=drawer] .list-group .list-group-item:active:before, [data-region=drawer] .list-group .list-group-item:focus:before {
    animation-name: ripple;
    animation-duration: 0.6s;
    opacity: 0.4;
    transition: 0s !important;
  }
  @keyframes ripple {
    from {
      background-size: 1%;
    }
    to {
      background-size: 15000%;
    }
  }
  [data-region=drawer] .list-group .list-group-item.active {
    background-color: #bb86fc;
    color: #000000;
  }
  [data-region=drawer] .list-group .list-group-item.active:hover {
    background-color: #c18fff;
  }

  body.drawer-open-left {
    margin-left: 250px;
  }

  /* ----- Progress indicators ----- */
  .progress {
    border: 0 !important;
    border-radius: 5px;
    background-color: #424242 !important;
    margin-bottom: 5px;
  }
  .progress .progress-bar {
    background-color: #bb86fc;
    border: 0;
  }

  .block_completion_progress .progressEventInfo {
    font-weight: 300;
    letter-spacing: normal;
  }
  .block_completion_progress .progressEventInfo img.icon {
    filter: none !important;
  }
  .block_completion_progress .barRowCells .progressBarCell {
    height: 1rem;
    border: 0 !important;
  }
  .block_completion_progress .barRowCells .progressBarCell.completed {
    background-color: #78ce65;
  }
  .block_completion_progress .barRowCells .progressBarCell .nowDiv {
    font-size: 14px;
    top: -25px;
    margin-right: 5.5px;
  }
  .block_completion_progress .barRowCells .progressBarCell .nowDiv .nowicon {
    margin-left: 5px;
  }

  /* ----- Ghost elements ----- */
  @keyframes bg-pulse-grey {
    0% {
      background-color: #2c2c2c;
    }
    50% {
      background-color: #333333;
    }
    100% {
      background-color: #2c2c2c;
    }
  }
  /* ----- Footer ----- */
  #page-footer {
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 40px 20px !important;
  }
  #page-footer:after {
    content: "\a===    Moodle Dark Theme    ===\aStyle par Martin Danhier & Yannis Fraselle\aVersion 0.6.0\a\a";
    display: block;
    white-space: pre;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
  }

  #back-to-top {
    perspective: 1px;
    position: relative;
    background-color: #03dac6;
    color: #000000;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.7s;
    position: fixed;
  }
  #back-to-top:focus {
    outline: none;
    border: none;
  }
  #back-to-top:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-image: radial-gradient(circle, white 1%, transparent 1%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15000%;
    opacity: 0;
    transition: background 0.7s, opacity 1s;
    z-index: -1;
  }
  #back-to-top:active:before, #back-to-top:focus:before {
    animation-name: ripple;
    animation-duration: 0.6s;
    opacity: 0.4;
    transition: 0s !important;
  }
  @keyframes ripple {
    from {
      background-size: 1%;
    }
    to {
      background-size: 15000%;
    }
  }
  #back-to-top:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.6s;
    background-color: #3de2d2;
  }
  #back-to-top:focus, #back-to-top:active {
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.6s;
  }

  /* Tooltips (notifications, and others) */
  .popover-region .popover-region-toggle:before, .popover-region .popover-region-toggle:after {
    border-bottom-color: #323232;
    right: 11px;
  }
  .popover-region .popover-region-toggle:focus {
    outline: none;
    box-shadow: none;
  }
  .popover-region .popover-region-container {
    color: #ffffff;
    background-color: #323232;
    box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2) !important;
    color: #ffffff;
    border-radius: 0.5rem;
    border: 0;
    border-color: #121212;
  }
  .popover-region .popover-region-container .popover-region-header-container {
    height: 35px;
    border-color: inherit;
    padding: 5px 15px;
  }
  .popover-region .popover-region-container .popover-region-header-container .popover-region-header-text {
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  .popover-region .popover-region-container .popover-region-content-container {
    height: calc(100% - 55px - 20px);
  }
  .popover-region .popover-region-container .popover-region-content-container .notification {
    color: inherit;
    background-color: inherit;
    border-color: #121212;
    padding: 10px;
  }
  .popover-region .popover-region-container .popover-region-content-container .notification:hover {
    background-color: #424242;
  }
  .popover-region .popover-region-container .popover-region-content-container .notification .notification-image {
    margin-right: 10px;
  }
  .popover-region .popover-region-container .popover-region-content-container .notification .notification-message {
    width: calc(100% - 24px - 10px);
  }
  .popover-region .popover-region-container .popover-region-content-container .notification .content-item-footer .timestamp {
    margin-left: 34px;
    color: #959595;
  }
  .popover-region .popover-region-container .popover-region-content-container .notification.unread {
    background-color: #404040;
  }
  .popover-region .popover-region-container .popover-region-footer-container {
    height: 35px;
    border-color: #121212;
    background-color: inherit;
    color: inherit;
  }
  .popover-region .popover-region-container .popover-region-footer-container .popover-region-seeall-text {
    padding: 5px 15px;
  }

  /* ----- Other miscellaneous changes ----- */
  .path-course-view .completionprogress a.btn.btn-link {
    margin-left: 10px;
  }
}
