@charset "UTF-8";
/* ==UserStyle==
@name           Moodle Dark Theme
@namespace      github.com/martin-danhier
@version        0.6.0
@description    Dark theme for Moodle
@author         Martin Danhier & Yannis Fraselle
@updateURL      https://raw.githubusercontent.com/martin-danhier/webcampus-dark-theme/master/dark_webcampus.user.css
==/UserStyle== */
/* 



----> See repository for source SASS. <----



*/
@-moz-document url-prefix("https://moodle.uclouvain.be/") {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
  body, #page-my-index {
    background-color: #121212;
    color: #ffffff;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 100;
  }

  a, .block .block-cards a.coursename {
    color: #03dac6;
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  .text-muted {
    font-weight: 400;
    color: inherit;
  }

  .card, #region-main {
    color: #ffffff;
    background-color: #1e1e1e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 0.5rem;
  }

  .dashboard-card {
    color: #ffffff;
    background-color: #242424;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .card-footer {
    background-color: inherit !important;
  }

  .navbar {
    color: #ffffff;
    background-color: #222222;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .navbar-fhs .navbar-nav .nav-link, span.userbutton {
    color: inherit;
  }

  .navbar .btn-secondary {
    color: inherit;
    background-color: inherit;
    border: none;
  }

  .btn, .btn-secondary, .btn-secondary:not(:disabled):not(.disabled) {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    perspective: 1px;
    position: relative;
    box-shadow: none;
    border: 1px solid #bb86fc !important;
  }
  .btn, .btn:active, .btn:focus, .btn:active:focus, .btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary:not(:disabled):not(.disabled), .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
    outline: unset;
    background-color: inherit;
    color: #bb86fc;
  }
  .btn:before, .btn-secondary:before, .btn-secondary:not(:disabled):not(.disabled):before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    background-image: radial-gradient(circle, white 1%, transparent 1%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15000%;
    opacity: 0.01;
    transition: background 0.7s, opacity 1s;
    z-index: -1;
  }
  .btn:active:before, .btn:focus:before, .btn-secondary:active:before, .btn-secondary:focus:before, .btn-secondary:not(:disabled):not(.disabled):active:before, .btn-secondary:not(:disabled):not(.disabled):focus:before {
    animation-name: ripple;
    animation-duration: 0.6s;
    opacity: 0.4;
    transition: 0s !important;
  }
  @keyframes ripple {
    from {
      background-size: 1%;
    }
    to {
      background-size: 15000%;
    }
  }

  .pagelayout-mydashboard #region-main {
    color: #ffffff;
    background-color: #121212;
    box-shadow: none !important;
  }

  .list-group-item {
    background-color: inherit;
  }

  /* ------------- */
  /* --- Icons --- */
  /* ------------- */
  /** Global changes for icons */
  .ygtvcell .icon {
    height: 16px;
    vertical-align: middle;
    width: 0px;
    padding-right: 16px;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
  }

  img.icon.smallicon, .content-item-container .notification-image img, .notification-area .image-container img {
    height: 20px;
    width: 0px;
    padding-right: 20px;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
  }

  img.activityicon, #page-mod-folder-view .fp-icon .icon, .block_completion_progress .progressEventInfo img {
    height: 24px;
    width: 0px;
    padding-right: 24px;
    background: transparent top left no-repeat;
    filter: invert(100%) sepia(18%) saturate(293%) hue-rotate(293deg) brightness(112%) contrast(86%);
  }

  /** Individual changes for icons.
  -> each time, an icon is matched by the url of its image. The value is then replaced to another image.
  */
  /* URL */
  img[src*="/theme/image.php/"][src*="/url/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:link-variant.svg?height=24");
  }

  /* Forum / Annonce */
  img[src*="/theme/image.php/"][src*="/mod_forum/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/forum/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-forum.svg?height=24");
  }

  /* Workshop / Peer review */
  img[src*="/theme/image.php/"][src*="/workshop/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/feedback/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/uil:feedback.svg?height=24");
  }

  /* Quiz */
  img[src*="/theme/image.php/"][src*="/quiz/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ant-design:form-outlined.svg?height=24");
  }

  /* PDF */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/pdf"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/pdf-24"], img[src*="/theme/image.php/"][src*="/amanote/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-pdf.svg?height=25");
  }

  /* Vidéo */
  img[src*="/theme/image.php/"][src*="/ubicast/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/mpeg-24"] {
    background-image: url("https://api.iconify.design/carbon:play-filled.svg?height=24");
  }

  /* Zip */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/archive-24"] {
    background-image: url("https://api.iconify.design/clarity:file-zip-solid.svg?height=24");
  }

  /* Link to webcampus */
  img[src*="/theme/image.php/"][src*="/page/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bx:bxs-note.svg?height=24");
  }

  /* Source code */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/sourcecode-24"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/markup-24"] {
    background-image: url("https://api.iconify.design/mdi:file-code.svg?height=54");
  }

  /* Tiff */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/tiff"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/tiff-24"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-png.svg?height=25");
  }

  /* Png */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/png"], img[src*="/theme/image.php/"][src*="/core/"][src$="/f/png-24"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-png.svg?height=25");
  }

  /* Jpg */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/jpeg-24"] {
    background-image: url("https://api.iconify.design/bx:bxs-file-jpg.svg?height=25");
  }

  /* Word */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/document-24"] {
    background-image: url("https://api.iconify.design/mdi:file-word.svg?height=25");
  }

  /* Powerpoint */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/powerpoint-24"] {
    background-image: url("https://api.iconify.design/mdi:file-powerpoint.svg?height=25");
  }

  /* Excel */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/spreadsheet-24"] {
    background-image: url("https://api.iconify.design/mdi:file-excel.svg?height=25");
  }

  /* Wiki */
  img[src*="/theme/image.php/"][src*="/wiki/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/carbon:wikis.svg?height=25");
  }

  /* Devoir (upload) */
  img[src*="/theme/image.php/"][src*="/assign/"][src$="/icon"], img[src*="/theme/image.php/"][src*="/mod_assign/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-file-upload.svg?height=24");
  }

  /* Folder */
  img[src*="/theme/image.php/"][src*="/folder/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ic:round-folder.svg?height=24");
  }

  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/folder-24"] {
    background-image: url("https://api.iconify.design/ant-design:folder-open-filled.svg");
  }

  /* Scheduler */
  img[src*="/theme/image.php/"][src*="/scheduler/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:calendar-clock.svg?height=24");
  }

  /* Question (choice) */
  img[src*="/theme/image.php/"][src*="/choice/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:comment-question.svg?height=24");
  }

  /* Glossary */
  img[src*="/theme/image.php/"][src*="/glossary/"][src$="/icon"] {
    background-image: url(" https://api.iconify.design/bx:bx-sort-a-z.svg?height=24");
  }

  /* Certificate */
  img[src*="/theme/image.php/"][src*="/customcert/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi:certificate.svg?height=24");
  }

  /* Wooclap */
  img[src*="/theme/image.php/"][src*="/wooclap/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/ls:w.svg?height=24&inline=true");
  }

  /* Choose a group */
  img[src*="/theme/image.php/"][src*="/choicegroup/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bi:people-fill.svg?height=24");
  }

  /* Generic text file */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/text-24"] {
    background-image: url("https://api.iconify.design/eva:file-fill.svg?height=25");
  }

  /* Chat */
  img.activityicon[src*="/theme/image.php/"][src*="/chat/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/bi:chat-dots-fill.svg?height=24");
  }

  /* Amanote thingy at the right */
  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/folder"] {
    background-image: url("https://api.iconify.design/ic:round-folder.svg?height=16");
    filter: invert(100%);
  }

  img[src*="/theme/image.php/"][src*="/core/"][src$="/f/archive"] {
    background-image: url("https://api.iconify.design/eva:file-fill.svg?height=16");
    filter: invert(100%);
  }

  /* text info block */
  img[src*="/theme/image.php/"][src*="/label/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/fe:text-align-left.svg?height=24");
  }

  /* Not terminated */
  img[src*="/theme/image.php/"][src*="/block_completion_progress/"][src$="/cross"] {
    background-image: url("https://api.iconify.design/emojione-monotone:cross-mark.svg?height=12");
    height: 12px !important;
    width: 12px !important;
    vertical-align: -0.125em;
    filter: invert(55%) sepia(12%) saturate(2496%) hue-rotate(315deg) brightness(99%) contrast(89%) !important;
  }

  /* Done */
  img[src*="/theme/image.php/"][src*="/block_completion_progress/"][src$="/tick"] {
    background-image: url("https://api.iconify.design/fa-solid:check.svg?height=12");
    vertical-align: -0.125em;
    height: 12px !important;
    width: 12px !important;
    filter: invert(85%) sepia(24%) saturate(888%) hue-rotate(64deg) brightness(88%) contrast(85%) !important;
  }

  /* Data */
  img[src*="/theme/image.php/"][src*="/data/"][src$="/icon"] {
    background-image: url("https://api.iconify.design/mdi/database.svg?height=24");
  }
}
