// ====== Remove custom Banner ======

ul.navbar-nav.d-none.d-md-flex::after {
    // Add a title text in the appbar instead of the brand banner
    // We will make it clickable by moving the brand banner on top of it
    content: "Webcampus";
    font-size: 18px;
    font-size: 1.171875rem;
    font-weight: 400;
    line-height: inherit;

    pointer-events: none;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

header.fixed-top.brand-banner {
    // Remove ugly background
    background: unset;

    // Make it smaller so than it only covers the "Webcampus" brand text
    height: $appbar-height;
    left: 4.25rem;
    width: 6.4rem;

    // Instead of hiding it, make it invisible and position it above the actual
    // app  bar
    z-index: 2000;

    // Hide right logo
    .right-logo {
        visibility: hidden;
    }

    .left-logo {
        // Hide left logo
        box-shadow: unset;
        // Make the left logo container take the whole space of the brand banner
        display: block;
        height: inherit;
        position: static;

        img {
            visibility: hidden;
        }
    }
}

// Move the contents of the page up because there isn't a brand banner anymore
#blocks-column-toggle {
    margin-top: 75px;
    top: 0;
}

#nav-drawer,
#blocks-column,
.message-app.drawer {
    margin-top: 60px !important;
    top: 0;
}

.navbar-receptic {
    background: unset;
    // Move the real navbar as well, and remove the ugly theme
    top: 0;
}

// Make a card deck instead of a list
.block-myoverview div[data-region="courses-view"] ul.list-group {
    display: flex;
    flex-flow: row wrap;
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    .card.dashboard-card {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        width: calc(33.33% - 0.5rem);
    }
}

// Login

.pagelayout-login {
    .card-header::before {
        @include typography("h5");
        content: "Login to WebCampus";
        margin-top: $spacing-s;
        color: var(--bg-primary-light);
    }

    // Remove useless padding and contact info
    .contactinfo, .col-sm-1, .col-sm-6 {
        // TODO if you want it, do something with it
        display: none;
    }
}

// Ugly banner

img.img-fluid[src*="/core_admin/logo/"][src*="/webcampus.png"] {
    content: url("https://transitions.unamur.be/++theme++unamur/images/logo-unamur.png");
}
