/* ----- Login page ----- */

.wrapper .container {
    width: 630px;
    padding: $spacing-m;
}

.list-help-item a {
    @include link();

    .item-marker {
        visibility: hidden;
        width: 0;
        &:before {
            @include icon("chevron-right");
            color: var(--bg-secondary-light);
        }
    }
}

.wrapper {
    @include elevation(1);
    header img {
        // Use a lighter logo
        content: url("https://ojs.uclouvain.be/public/logo_neg.png");
        width: 250px;
    }
}

.wrapper,
footer,
.container-footer {
    @include surface(1);
}
.column.one {
    width: 65%;
}

form {
    width: 100%;
    legend {
        margin-top: $spacing-s;
        color: var(--bg-primary-light);
        @include typography(h5);
    }

    .form-element.form-error {
        @include typography(helper-text);
        color: $bg-error;

        &:before {
            @include icon("error-outline");
            margin-right: $spacing-xs;
        }
    }
}

.form-element-wrapper {
    label {
        @include typography(subtitle2);
    }

    input[type="text"],
    input[type="password"] {
        @include filled-text-field(var(--bg-primary));
    }

    input[type="checkbox"] {
        margin-right: $spacing-xs;
    }

    button[type="submit"] {
        @include raised-button(var(--bg-primary), var(--bg-primary-hover), var(--fg-on-primary));
        padding: 0 !important;
    }
}

.footer-text {
    padding: $spacing-s;
}
