/* ----- Cards ----- */

.card,
#region-main {
    @include surface(1);
    @include elevation(1);
    border: none;
    border-radius: $border-radius;

    &:focus {
        outline: none;
    }
}

.card-footer {
    background-color: inherit !important;
    border-radius: inherit;
}

// ----- Generic course items ------

.dashboard-card,
.course-listitem.list-group-item,
.block .block-cards .course-summaryitem {
    // They are on top of a bigger card so it needs a bigger elevation
    @include surface(3);
    @include elevation(2); // 3 because it is on top of a elevation 1 card
    border: none;
    border-radius: $border-radius;

    .dropdown .btn.btn-link.coursemenubtn {
        @include flat-icon-button($bg-field-hover);
    }

    .card-img-top, .card-img {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    .course-info-container .bg-pulse-grey {
        border-radius: 3px;
    }
}

.block .block-cards .course-summaryitem {
    a {
        margin: $spacing-xs;
        margin-right: $spacing-s;

        .summaryimage {
            border-radius: 50% !important;
        }
    }

    margin-top: $spacing-s !important;
    margin-bottom: $spacing-s !important;
}

// ----- Overview block -----

.block_myoverview .container-fluid {
    margin-top: $spacing-m;
}

// List appearance
.block_myoverview [data-region="courses-view"] .list-group .list-group-item {
    margin-top: $spacing-xs;
    margin-bottom: $spacing-xs;
}

// ----- Section ------

.card.section {
    border-radius: 0;
    box-shadow: none !important;
}

// ----- Alerts -----

.bg-white[role="alert"] {
    background-color: $bg-surface-16dp !important;
    @include elevation(16);
    border-radius: $border-radius;

    .text-muted {
        color: $fg-on-surface !important;
        user-select: none;
    }

    .btn.btn-primary {
        @include raised-button($bg-primary, $bg-primary-hover, $fg-on-primary);

        &[data-action="confirm-delete-selected-messages"] {
            @include raised-button($bg-error, $bg-error-hover, $fg-on-error);
        }
    }

    .btn.btn-secondary {
        @include text-button($fg-high-emphasis, $fg-on-surface);
    }
}

// ----- Home -----

#page-site-index #page-header .card .d-flex {
    justify-content: center;
    align-items: center;
    margin: $spacing-sm !important;

    .mr-auto {
        margin-right: 0 !important;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &.flex-wrap {
        height: 0;
        margin: 0 !important;
        padding: 0 !important;
    }
}

// ----- Settings -----

#page-user-preferences {
    #page-header .card {
        padding: $spacing-m;
    }

    #region-main .container-fluid {
        margin-top: $spacing-m;

        .card {
            @include surface(3);
            @include elevation(1);
            padding: $spacing-sm;
        }
    }
}

#page-user-profile {
    .profile_tree .card {
        @include surface(3);
        @include elevation(1);
        padding: $spacing-s;

        .badge-image {
            border-radius: $border-radius;
        }
    }
}

// ----- Course content -----

#page-course-view-topics {
    #page-header .card {
        padding: $spacing-m;
    }

    .course-content {
        li.section.hidden {
            // Title
            h3.sectionname {
                border-top: 0 !important;
                a {
                    color: $fg-field-disabled;
                    cursor: not-allowed;

                    &:hover {
                        text-decoration: none;
                    }
                }

                // Icon
                &:before {
                    content: "";
                    background-image: url("https://api.iconify.design/fluent/lock-closed-32-filled.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    vertical-align: baseline;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    filter: invert(1);

                    margin-right: $spacing-s;
                }
            }

            .content {
                background-color: inherit;
                color: inherit;
                border-color: inherit;
            }

            .section_availability .badge.badge-info {
                background-color: $bg-error;
                color: $fg-on-error;
                margin-left: $spacing-l;
                font-size: 12px;
                border-radius: 5px;
            }
        }
    }
}

/* Forum view */

#page-mod-forum-view {
    #page-header .card {
        margin-top: $spacing-s;
        padding: $spacing-s;
    }
    #region-main {
        padding: $spacing-m;
    }
}
