/* ----- Texts ----- */

label {
    color: $fg-high-emphasis;
    font-weight: 300;
}

a,
.block .block-cards a.coursename,
a.aalink span {
    color: var(--bg-secondary-light);
    font-weight: 400;

    &:hover, &:active, &:focus, &:focus:active {
        color: var(--bg-secondary-hover);
    }

    &:visited {
        color: var(--bg-secondary-light);
    }
}

strong {
    font-weight: 700;
}

.text-muted {
    font-weight: 400;
    color: $fg-medium-emphasis !important;
}

.resourcelinkdetails {
    color: $fg-medium-emphasis;
    font-weight: 300;
}

.navbar-fhs .navbar-brand,
.navbar-fhs .navbar-brand:hover {
    color: $fg-on-surface;
}

.text-primary {
    color: var(--bg-primary-light) !important;
}

.text-danger {
    color: $bg-error !important;
}