/* ----- Root ----- */

body,
#page-my-index {
    // Base values
    background-color: $bg-background;
    color: $fg-on-background;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;
}

/* ----- Fixes to remove unwanted behavior originating from the default theme ----- */

.pagelayout-mydashboard #region-main {
    // Remove that card because 3 layers of cards are ugly
    @include surface(0);
    @include elevation(0);
}

.list-group-item {
    background-color: inherit;
}

h3.sectionname {
    background-color: inherit;
    border: none;
}

.section li.activity:hover {
    background-color: inherit;
}

.invisiblefieldset {
    width: 100%;
}

.bg-white {
    background-color: inherit !important;
}

.border-bottom {
    border-bottom-color: inherit !important;
}

// Imports parts from common directory (split into multiple files to avoid having one huge file)
@import './common/icons.scss';
@import './common/text.scss';
@import './common/cards.scss';
@import './common/input.scss';
@import './common/navbar.scss';
@import './common/drawer.scss';
@import './common/progress-indicators.scss';
@import './common/ghost.scss';
@import './common/footer.scss';
@import './common/tooltips.scss';
@import './common/chat.scss';
@import './common/modals.scss';
@import './common/forums.scss';

// Last import the miscellaneous styles
@import './common/misc.scss';
