/* UCLouvain specific styles */

#page-site-index #page-header .logo img {
    // Use a lighter logo
    content: url("https://ojs.uclouvain.be/public/logo_neg.png");
}

// Dashboard card loaders
#page-my-index .block_recentlyaccessedcourses {
    [data-region="loading-placeholder"] {
        margin-top: 36.5px;
        .card-deck {
            height: auto !important;

            .card {
                height: 74.6px !important;
            }

            .card.dashboard-card .card-img-top {
                display: none;
            }

            .card-body.course-info-container {
                padding-top: $spacing-m !important;
                padding-right: $spacing-s !important;
            }
        }
    }
}
