/* ----- Editor ATTO ----- */

.editor_atto_notification {
    .atto_info {
        @include surface(2);
        @include elevation(1);
    }

    .atto_warning {
        background-color: $bg-warning;
        color: $fg-on-warning;
    }

    .atto_info,
    .atto_warning {
        margin-left: $spacing-l;
        @include flex-center-start();
        min-height: $fluent-icon-size;
        width: fit-content;

        img {
            margin-right: $spacing-s;
            width: $fluent-icon-size;
            height: $fluent-icon-size;
        }
    }
}

.editor_atto_wrap .editor_atto {
    @include elevation(2);
    border-radius: $border-radius;
    border-bottom-right-radius: 0;

    // Content
    .editor_atto_content_wrap {
        color: $fg-on-surface;
        border-bottom-left-radius: $border-radius;
        background-color: $bg-field-focus;
        border: 0;

        .form-control {
            color: inherit;
            border: inherit;
            border-bottom-left-radius: inherit;

            padding: $spacing-s;
            background-color: $bg-field;
            caret-color: var(--bg-primary-light);

            transition: background-color 0.15s ease-in-out;
            will-change: background-color;

            &:focus,
            &:active,
            &:focus:active {
                outline: none;
                box-shadow: none;
            }
        }
    }

    // Toolbar
    .editor_atto_toolbar {
        @include surface(24);

        border: 0;
        border-bottom: 1px solid $bg-divider;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .atto_group:not([hidden]) {
            border-color: $bg-divider;
            border-radius: 4px;

            height: fit-content;
            @include flex-center();
            flex-direction: row;
            width: fit-content;
            background: inherit;

            button:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            button:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            button {
                @include flex-center();
                flex-direction: row;
                background: $bg-field;
                border-color: $bg-divider;

                transition: background-color 0.15s ease-in-out;
                will-change: background-color;

                &.atto_accessibilityhelper_button i {
                    height: fit-content;
                }

                &:hover:enabled {
                    background: $bg-field-hover;
                }

                &:focus {
                    background: $bg-field-focus;
                }
            }

            .editor_atto_menu_icon {
                height: 20px;
            }
        }
    }

    .atto_info {
        @include surface(24);
    }
}

// Dialogs
.atto_menu {
    .atto_menuentry {
        padding: 0 !important;
        border: 0 !important;
        display: flex;

        a {
            padding: $spacing-s $spacing-sm;
            margin: 0 !important;
            width: 100%;

            color: $fg-high-emphasis;

            &:hover {
                color: $fg-on-surface;
                text-decoration: none;
                background-color: $bg-field-hover;
            }

            &:focus {
                background-color: $bg-field-selected-bright;
            }
        }
    }

    &.atto_styles_button {
        padding: 0;

        i.fa,
        i.fa::before {
            display: none !important;
            width: 0 !important;
            height: 0 !important;
        }

        .dropdown-menu > li {
            padding: 0;

            & > a {
                padding: $spacing-s $spacing-sm;
            }
        }

        span,
        .dropdown-menu > li > a span > span.preview {
            width: 100%;
            max-width: 100% !important;
        }
    }

    &.atto_fontcolor_button,
    &.atto_backcolor_button {
        & > ul.dropdown-menu {
            display: flex;
            flex-wrap: wrap;
            width: calc(4 * $spacing-sm + 2 * 21px);
        }
    }
}

// Equation
.well {
    border: 0;
}

// Chemistry
.atto_chemistry_library {
    li a:not(.hidden) {
        @include text-button($fg-high-emphasis, $fg-on-surface);

        &::before {
            background-image: none;
        }

        &:hover,
        &:focus {
            background-image: none;
            background: inherit !important;
        }
    }

    [role="toolbar"] {
        button {
            color: $fg-on-surface;
            background-color: $bg-field;

            &:hover {
                background-color: $bg-field-hover;
            }

            outline: none;
            box-shadow: none;
            border: 1px solid $bg-divider;
            padding: $spacing-xs;
            border-radius: 2px;
        }
    }
}

.yui3-skin-sam .yui3-tab-label {
    background: none;
}

.yui3-skin-sam .yui3-tabview-panel {
    background-color: inherit;
    box-shadow: none;
    border: 0;
    outline: 0;
}

.atto_chemistry_submit {
    @include text-button($fg-high-emphasis, $fg-on-surface);
}
