/* ----- Modals ----- */

.moodle-dialogue-base .closebutton {
    color: $fg-on-surface;
}

.modal-dialog .modal-content,
.moodle-dialogue-base .moodle-dialogue-wrap {
    @include surface(8);
    @include elevation(8);
    border-radius: $border-radius;
    border: none;

    .btn.btn-secondary[data-action="cancel"] {
        @include outlined-button($fg-on-surface, true);
    }

    .modal-footer {
        a {
            @include text-button($fg-high-emphasis, $fg-on-surface);
        }

        button.btn.btn-secondary[data-action="delete"] {
            @include text-button($bg-error, $bg-error-hover);
        }
    }

    .modal-header,
    .modal-footer,
    .moodle-dialogue-hd {
        border-color: $bg-divider;
        background-color: unset !important;
        color: $fg-on-surface !important;
    }

    .studentdashboard {
        // Dashboard actions
        .row:nth-child(2) {
            a i.fa {
                font-size: 40px;
            }

            justify-content: start;
            align-items: flex-end;

            margin-bottom: $spacing-m;

            padding-bottom: $spacing-m;
            border-bottom: 1px solid $bg-divider;
        }

        // Details of course
        .row:nth-child(3) {
            .dashtitle {
                h3 {
                    @include flex-center-start();

                    i {
                        margin-right: $spacing-s;
                    }
                }
                margin-bottom: $spacing-sm;
            }

            // Staff
            .coursestafflisting {
                .list-group-item {
                    border: 0;
                }
            }

            .staffinfo a {
                @include flex-center-start();
                min-height: $fluent-icon-size;

                i {
                    margin-right: $spacing-xs;
                }
            }
        }

        // Activities
        .activitylinks .list-group-item {
            border: 0;
            border-radius: $border-radius;

            &:hover {
                background-color: $bg-field-hover;
            }
        }
    }
}

// Close button
button.close {
    @include flat-icon-button($bg-field-hover);
    color: $fg-on-surface;

    &:hover {
        color: inherit;
    }
}

// Alerts
.alert {
    border-radius: $border-radius;
    margin: $spacing-sm;

    @include flex-center-start();
    min-height: $fluent-icon-size;

    @include typography("subtitle2");

    position: relative;

    // Add an icon to the message
    &::before {
        width: $fluent-icon-size !important;
        height: $fluent-icon-size !important;
        display: flex !important;
        padding: 0 !important;
        margin-right: $spacing-xs;
    }

    &.alert-warning {
        background-color: $bg-warning;
        color: $fg-on-warning;

        &::before {
            @include fluent-icon-img("warning", $fg-on-warning, "regular");
        }
    }

    &.alert-danger {
        background-color: $bg-error;
        color: $fg-on-error;

        &::before {
            @include fluent-icon-img("error-circle", $fg-on-warning, "regular");
        }
    }

    &.alert-success {
        background-color: $bg-success;
        color: $fg-on-success;

        &::before {
            @include fluent-icon-img("checkmark-circle", $fg-on-success, "regular");
        }
    }

    &.alert-info {
        background-color: $bg-info;
        color: $fg-on-info;

        &::before {
            @include fluent-icon-img("info", $fg-on-info, "regular");
        }
    }

    button.close {
        position: absolute;
        right: $spacing-s;
    }
}

// Buttons
.atto_generico_buttons {
    display: block;

    button {
        @include text-button($fg-high-emphasis, $fg-on-surface);
    }
}

.moodle-dialogue-bd #start-stop {
    border-radius: $border-radius;
    border-color: $red;
    color: $red;

    &:hover {
        color: white;
        background-color: $red;
    }
}
