/* ----- Announces and forums ----- */

// Forum search
.forumsearch .input-group {
    gap: 0;

    .search {
        margin-right: $spacing-m;
    }

    .input-group-prepend {
        display: flex;
    }

    .input-group-append {
        @include flex-center();

        .btn {
            width: fit-content;
            height: fit-content;
        }
    }
}

// Table
.discussion-list,
.choicegroups,
#overview-grade {
    background-color: inherit;
    @include elevation(1);
    color: $fg-on-surface;

    // Setup the border to support radius
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: $border-radius;

    // Default style for table
    th {
        // Colors
        background-color: $bg-surface-12dp;
        text-align: center;

        // Text
        a {
            @include text-button(var(--bg-primary-light), var(--bg-primary-hover), false);
            width: 100%;
        }

        // Borders
        border-color: $bg-divider;
        border: 0;
        border-bottom: 1px solid $bg-divider;
        &:first-child {
            border-top-left-radius: $border-radius;
        }
        &:last-child {
            border-top-right-radius: $border-radius;
        }
    }

    tbody {
        td,
        th,
        tr {
            color: $fg-high-emphasis;
            border: 0;
        }

        // Colors
        tr:nth-child(even) {
            td,
            th {
                background-color: $bg-surface-04dp;
            }
        }
        tr:nth-child(odd) {
            td,
            th {
                background-color: $bg-surface-02dp;
            }
        }

        // Border radius
        tr:last-child {
            td,
            th {
                &:first-child {
                    border-bottom-left-radius: $border-radius;
                }
                &:last-child {
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }

    // Favorites
    .btn.btn-link[data-type="favorite-toggle"] {
        @include flat-icon-button($bg-field-hover);
        color: $fg-high-emphasis;
        margin: $spacing-xs;
    }
    // Settings
    [data-container="discussion-tools"] {
        margin-right: $spacing-xs;
    }

    // Authors and other texts
    .author-info {
        color: $fg-on-surface;
        font-weight: 300;

        time {
            color: $fg-medium-emphasis;
        }

        a {
            color: $fg-medium-emphasis;

            &:hover,
            &:hover time {
                color: $fg-high-emphasis;
            }
        }
    }
}

.path-mod-forum #region-main {
    .forum-post-container .forumpost {
        @include elevation(4);
        @include surface(4);
        border-radius: $border-radius;
        border: 1px solid $bg-surface-04dp !important;
        &:focus-visible,
        &:focus {
            border: inherit !important;
        }
    }
    :target > .forumpost {
        border-color: var(--bg-primary-light) !important;
        &:before {
            display: none;
        }
    }

    a.btn.btn-link {
        @include text-button($fg-high-emphasis, $fg-on-surface);
        &:hover {
            text-decoration: none;
        }
    }
}

// Grades

#overview-grade {
    @include elevation(1);
    td.cell.c1 {
        text-align: center;
    }
}
