/* ----- Texts ----- */

label {
    color: $fg-high-emphasis;
    font-weight: 300;
}

a,
.block .block-cards a.coursename,
a.aalink span {
    @include link();
}

strong {
    font-weight: 700;
}

.text-muted {
    font-weight: 400;
    color: $fg-medium-emphasis !important;
}

.resourcelinkdetails {
    color: $fg-medium-emphasis;
    font-weight: 300;
}

.navbar-fhs .navbar-brand,
.navbar-fhs .navbar-brand:hover {
    color: $fg-on-surface;
}

.text-primary {
    color: var(--bg-primary-light) !important;
}

.text-danger {
    color: $bg-error !important;
}

// Specific styles for custom texts (e.g when a page is designed by the editor and it hardcodes an ugly color);

span[style*="color: rgb(68, 68, 68)"], em[style*="color: rgb(68, 68, 68)"] span {
    color: $fg-medium-emphasis !important;
}

h3[style*="color: rgb(51, 51, 51)"] {
    color: $fg-on-surface !important;
}