/* ----- Texts ----- */

label {
    color: $fg-high-emphasis;
    font-weight: 300;
}

a,
.block .block-cards a.coursename,
a.aalink span {
    @include link();
}

strong {
    font-weight: 700;
}

.text-muted {
    font-weight: 400;
    color: $fg-medium-emphasis !important;
}

a.dimmed,
a.dimmed:link,
a.dimmed:visited,
a.dimmed_text,
a.dimmed_text:link,
a.dimmed_text:visited,
.dimmed_text,
.dimmed_text a,
.dimmed_text a:link,
.dimmed_text a:visited,
.usersuspended,
.usersuspended a,
.usersuspended a:link,
.usersuspended a:visited,
.dimmed_category,
.dimmed_category a {
    color: $fg-medium-emphasis !important;
}

.resourcelinkdetails {
    color: $fg-medium-emphasis;
    font-weight: 300;
}

.navbar-fhs .navbar-brand,
.navbar-fhs .navbar-brand:hover {
    color: $fg-on-surface;
}

.text-primary {
    color: var(--bg-primary-light) !important;
}

.text-danger {
    color: $bg-error !important;
}

h3.popover-region-header-text {
    @include typography("h6");
}

h1 {
    @include typography("h1");
}

h2 {
    @include typography("h2");
}

h3 {
    @include typography("h3");
}

h4 {
    @include typography("h4");
}

h5 {
    @include typography("h5");
}

h6 {
    @include typography("h6");
}

